{{#each rooms}}
  <div class="card">
    <div class="card-content">
      <span class="card-title blue-text">{{name}}</span>
      <p>Create Date: {{formatDate date 'dateWithTime'}}</p>
      <p>Creator: {{creator.name.first}} {{creator.name.last}}</p>
      <div class="card-reveal">
        <div class="section">
          <span class="card-title blue-text">{{__ 'layout.listLabel'}}</span>
          <ul>
            {{#each users}}
              <li class="collection-item">{{this.name.first}} {{this.name.last}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a class="card-title activator blue-text text-darken-2">{{__ 'layout.listLabel'}} <i class="mdi-navigation-more-vert right"></i></a>
      <a href="/room/{{_id}}" class="card-title blue-text">{{__ 'layout.enterLabel'}}</a>
    </div>
  </div>
{{/each}}