<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>

    {{!-- Meta --}}
  <meta name="og:title" content="{{page.title}}">
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="{{locale}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="{{page.description}}">
  <meta name="og:description" content="{{page.description}}">
    {{#if page.canonicalUrl}}
      <link rel="canonical" href="{{page.canonicalUrl}}" />
      <meta name="og:url" content="{{page.canonicalUrl}}">
    {{/if}}

    {{> favicon }}

    {{!-- This file provides the default styling for the KeystoneJS Content Editor
         - only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

    {{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
          this needs to be put inside the <head>
          --}}
  <!--[if lt IE 9]-->
  <link rel="stylesheet" href="/css/jquery-ui-1.10.2.custom.min.css">
  <link rel="stylesheet" href="/css/kendo.common.min.css">
  <link rel="stylesheet" href="/css/kendo.default.min.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/dist/css/main.min.css">

</head>
<body {{#if system.mobile}}class="mobile"{{/if}}>

  {{> navigation/navbar}}
  <!--end header-->

  <section class="section main-section no-pad-bot">
      {{> breadcrumb}}
      {{> flashMessages}}

      {{!--The content block should contain the body of your template's content--}}
      {{{body}}}
  </section>

  {{#unless hideFooter}}
    {{> footer}}
  {{/unless}}

{{#unless user}}
    {{#parseJSON '{ "modal":true}' }}
        {{> auth/auth-forms}}
    {{/parseJSON}}
{{/unless}}

{{{isAdminEditorJS user}}}
  <div id="loading" class="progress">
    <div class="indeterminate"></div>
  </div>
{{#if AwsUser}}
<input type="hidden" id="userid" value="{{AwsUser.id}}">
{{/if}}
</body>
</html>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
{{#ifeq requireBundle 'true'}}
    <script type="text/javascript" data-main="/dist/js/main.js" src="/js/plugins/require.js"></script>
{{else}}
    <script type="text/javascript" data-main="/js/main_config.js" src="/js/plugins/require.js"></script>

{{/ifeq}}