{{#if modal}}
    {{#unless ../user}}
        <div style="display: none;" id="modal-auth" tabindex="-1" role="dialog" aria-labelledby="signin"
             aria-hidden="true"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{!--
                    {{> auth/form-signin}}
                    {{> auth/form-password}}
                    {{> auth/form-reset}}
                    --}}
                </div>
            </div>
        </div>
    {{/unless}}
{{else}}
    {{#is initial 'signin'}}
        {{> auth/form-signin}}
    {{/is}}

    {{#is initial 'forgot'}}
        {{> auth/form-password}}
    {{/is}}

    {{#is initial 'reset'}}
        {{> auth/form-reset}}
    {{/is}}
{{/if}}
