<div class="section">
  <div class="row">
    <div class="col l3 s12">&nbsp;</div>
    <form method="post" action="/login" role="signin" novalidate="novalidate" class="col l6 s12 sign-in">
      <input type="hidden" name="action" value="login">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">{{__ 'layout.usernameLabel'}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">{{__ 'layout.passwordLabel'}}</label>
        </div>
      </div>
      <p>
        <input type="checkbox" class="filled-in" id="remember" name="remember" checked="checked" value="1"/>
        <label for="remember">{{__ 'layout.rememberLabel'}}</label>
      </p>
      <div class="divider"></div>
      <div class="section">
        <button class="btn waves-effect waves-light" type="submit">{{__ 'layout.loginLabel'}}
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
    <div class="col l3 s12">&nbsp;</div>
  </div>
</div>