<style>
  body {
    overflow: hidden;
  }
</style>
<input type="hidden" id="pageid" value="{{page._id}}">
<div id="draw-window">
  <div class="sliderwrapper">
    <label for="fillpallete">
        <input type="checkbox" id="isfill" CHECKED><input type="color" class="pallete" id="fillpallete"/>
         Fill
    </label>
    <label for="strokepallete">
      <input type="checkbox" id="isstroke" CHECKED><input type="color" class="pallete" id="strokepallete"/>
       Stroke
    </label>
  </div>
  <div class="sliderwrapper">
    <a title="Pencil tool" onclick="Board.drawcanvas('line')" class="ico-pencil drawcanvas"></a>
    <a title="Polyline tool" onclick="Board.drawcanvas('polyline')" class="ico-line drawcanvas"></a>
    <a title="Rectangle tool" onclick="Board.drawcanvas('rect')" class="ico-square drawcanvas"></a>
    <a title="Circle tool" onclick="Board.drawcanvas('elips')" class="ico-circle drawcanvas"></a>
    <a title="Polygon tool" onclick="Board.drawcanvas('poly')" class="ico-polygon drawcanvas"></a>
  </div>
  <div class="sliderwrapper">
    <label for="thickslider" class="k-label">Line Thickness</label>
    <input name="thickslider" id="thickslider" class="toolslider" value="1"/>
  </div>
  <div class="sliderwrapper">
    <label for="polypointslider" class="k-label">Polygon Shape</label>
    <select name="polypointslider" id="polypointslider" class="toolslider">
      <option value="3">Trigon</option>
      <option value="4">Tetragon</option>
      <option value="5">Pentagon</option>
      <option value="6">Hexagon</option>
      <option value="7">Heptagon</option>
      <option value="8">Octagon</option>
      <option value="9">Enneagon</option>
      <option value="10">Decagon</option>
    </select>
  </div>
  <div class="canvascontrol">
    Ok or Cancel ?<br/>
    <a onclick="Board.donedrawing()" class="ico-checkmark"></a><a onclick="Board.canceldrawing()" class="ico-cancel"></a>
  </div>
</div>

<div id="opt-window">
  <div class="sliderwrapper">
    <label for="grid-size">Grid Size</label>
    <select name="grid-size" id="grid-size" onChange="Board.changeGrid()">
      <option value="1">no grid</option>
      <option value="20">20</option>
      <option value="40">40</option>
      <option value="80">80</option>
    </select>
  </div>
</div>

<div id="load-window">
  <div class="sliderwrapper">
    Load File
  </div>

  <ul id="load-session-list">
  </ul>
</div>

<div id="textbox-window">
  <div id="text-editor-ext"></div>

  <div class="canvascontroltb">
    <a onclick="Board.donedrawing(event)">done</a><a onclick="Board.canceldrawing(event)">cancel</a>
  </div>
</div>

<section class="content board">
    <div class="drawContainer">
      <div id="canvasContainer" class="pattern" style="background-image: url('{{page.background.url}}')">
      </div>
      <div id="canvasFakeContainer">
        <canvas id="canvasFake"></canvas>
      </div>

      <div id="previewCanvasContainer">
        <canvas id="previewCanvas"></canvas>
      </div>
      <div id="stamp-cursor">
      </div>
      <div id="image-cursor">
      </div>
    </div>
</section>

<div id="left-peek">

</div>

<div id="right-peek">
  <div id="panelGrip">
    <div id="panelGripBg"></div>
    <div id="panelClose" class="panelCloseButton"></div>
    <div id="panelPin" class="panelPinButton pinned"></div>
  </div>

  <div id="minimap" style="background-image: url('{{page.background.url}}')">
    <div id="minimap-indicator">
    </div>
    <img id="minimap-thumbcanvas" />
  </div>
  <div id="datepicker"></div>
</div>

<div class="fixed-action-btn" style="top: 60px; left: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light red">
    <i class="large mdi-content-add"></i>
  </a>
  <ul>
    <!--<li><a title="Undo" onclick="Board.undo()" class="btn-floating red"><i class="large ico-undo"></i></a></li>
    <li><a title="Redo" onclick="Board.redo()" class="btn-floating yellow"><i class="large ico-redo"></i></a></li> -->
    <li><a title="Pencil tool" onclick="Board.drawcanvas('lineOut')" class="btn-floating  waves-effect waves-teal green"><i class="large ico-pencil"></i></a></li>
    <li><a title="Drawing tool" id="draw-but" class="btn-floating waves-effect waves-purle orange"><i class="large ico-shapes"></i></a></li>
    <li><a title="Image Tool" href="#image-post" class="btn-floating waves-effect red modal-trigger"><i class="large ico-image"></i></a></li>
    <li><a title="Sticky Text Tool" href="#sticky-post" class="btn-floating waves-effect waves-red yellow modal-trigger"><i class="large ico-comment"></i></a></li>
    <!--<li><a title="Image tool" id="image-upload-but" class="ico-image"></a></li>
    <li><a title="Attach tool" id="file-upload-but" class="ico-attachment"></a></li>
    <li><a title="Stamp tool" id="stamp-but" class="ico-stamp"></a></li>
    <li><a title="Chart tool" id="chart-but" class="ico-chart-3"></a></li>
    <li><a title="Table tool" id="table-but" class="ico-table"></a></li>-->
    <li><a title="Copy tool" id="copy-but" onclick="Board.copyElement(event)" class="btn-floating waves-effect waves-blue blue"><i class="large ico-copy"></i></a></li>
    <li><a title="Erase tool" id="erase-but" onclick="Board.deleteElement(event)" class="btn-floating waves-effect waves-yellow red"><i class="large ico-trash"></i></a></li>
  </ul>
</div>

<div id="image-post" class="modal modal-fixed-footer" style="width: 350px; height:80%; max-height: 80%;">
  <form id="sticky-photo-create">
  <div class="modal-content">
      <div class="col input-custom s6">
        <canvas id="photo-preview"></canvas>
      </div>
      <div class="col input-custom s6">
        <label>Image</label>
          <input type="file" name="image" id="photo-upload-input"/>
      </div>
  </div>
  <div class="modal-footer">
    <button id="post-sticky" class="waves-effect waves-green btn btn-small" type="submit">Post</button>
    <a href="#!" class="modal-action modal-close waves-effect btn btn-flat btn-small">[Cancel]</a>
  </div>
  </form>
</div>

<div id="sticky-post" class="modal modal-fixed-footer" style="width: 350px; height:80%; max-height: 80%;">
  <form id="sticky-create">
    <div class="modal-content">
      <div class="col input-custom s6">
        <textarea id="sticky-text" name="sticky-text" style="height: 276px;"></textarea>
      </div>
      <div class="col input-custom s6">
        <label for="sticky-tag">Tag</label>
        <input type="text" name="tag" id="sticky-tag"/>
      </div>
      <div class="col input-custom s6 sticky-background">
        <input name="style.fill" type="radio" value="red" id="sticky-bg-red" />
        <label for="sticky-bg-red"><i class="mdi-communication-messenger red-text"></i></label>
        <input name="style.fill" type="radio" value="pink" id="sticky-bg-pink"  />
        <label for="sticky-bg-pink"><i class="mdi-communication-messenger pink-text"></i></label>
        <input name="style.fill" type="radio" value="purple" id="sticky-bg-purple"  />
        <label for="sticky-bg-purple"><i class="mdi-communication-messenger purple-text"></i></label>
        <input name="style.fill" type="radio" value="blue" id="sticky-bg-blue"  />
        <label for="sticky-bg-blue"><i class="mdi-communication-messenger blue-text"></i></label>
        <input name="style.fill" type="radio" value="cyan" id="sticky-bg-cyan"  />
        <label for="sticky-bg-cyan"><i class="mdi-communication-messenger cyan-text"></i></label>
        <input name="style.fill" type="radio" value="green" id="sticky-bg-green"  />
        <label for="sticky-bg-green"><i class="mdi-communication-messenger green-text"></i></label>
        <input name="style.fill" type="radio" value="yellow" id="sticky-bg-yellow"  />
        <label for="sticky-bg-yellow"><i class="mdi-communication-messenger yellow-text"></i></label>
        <input name="style.fill" type="radio" value="orange" id="sticky-bg-orange"  />
        <label for="sticky-bg-orange"><i class="mdi-communication-messenger orange-text"></i></label>
        <input name="style.fill" type="radio" value="brown" id="sticky-bg-brown"  />
        <label for="sticky-bg-brown"><i class="mdi-communication-messenger brown-text"></i></label>
        <input name="style.fill" type="radio" value="grey" id="sticky-bg-grey"  />
        <label for="sticky-bg-grey"><i class="mdi-communication-messenger grey-text"></i></label>
      </div>
    </div>
    <div class="modal-footer">
      <button id="post-sticky" class="waves-effect waves-green btn btn-small" type="submit">Post</button>
      <a href="#!" class="modal-action modal-close waves-effect btn btn-flat btn-small">[Cancel]</a>
    </div>
  </form>
</div>


<div id="sticky-update" class="modal modal-fixed-footer" style="width: 350px; height:80%; max-height: 80%;">
    <form id="sticky-editor">
        <div class="modal-content">
            <div class="col input-custom s6">
                <input type="hidden" name="id" id="edit-id" value=""/>
                <textarea id="edit-sticky-text" name="sticky-text" style="height: 276px;"></textarea>
                <div class="edit-sticky-text-toolbar"></div>
            </div>
            <div class="col input-custom s6">
                <label for="edit-sticky-tag">Tag</label>
                <input type="text" name="tag" id="edit-sticky-tag"/>
            </div>
            <div class="col input-custom s6 sticky-background">
                <input name="style.fill" type="radio" value="red" id="edit-sticky-bg-red" />
                <label for="edit-sticky-bg-red"><i class="mdi-communication-messenger red-text"></i></label>
                <input name="style.fill" type="radio" value="pink" id="edit-sticky-bg-pink"  />
                <label for="edit-sticky-bg-pink"><i class="mdi-communication-messenger pink-text"></i></label>
                <input name="style.fill" type="radio" value="purple" id="edit-sticky-bg-purple"  />
                <label for="edit-sticky-bg-purple"><i class="mdi-communication-messenger purple-text"></i></label>
                <input name="style.fill" type="radio" value="blue" id="edit-sticky-bg-blue"  />
                <label for="edit-sticky-bg-blue"><i class="mdi-communication-messenger blue-text"></i></label>
                <input name="style.fill" type="radio" value="cyan" id="edit-sticky-bg-cyan"  />
                <label for="edit-sticky-bg-cyan"><i class="mdi-communication-messenger cyan-text"></i></label>
                <input name="style.fill" type="radio" value="green" id="edit-sticky-bg-green"  />
                <label for="edit-sticky-bg-green"><i class="mdi-communication-messenger green-text"></i></label>
                <input name="style.fill" type="radio" value="yellow" id="edit-sticky-bg-yellow"  />
                <label for="edit-sticky-bg-yellow"><i class="mdi-communication-messenger yellow-text"></i></label>
                <input name="style.fill" type="radio" value="orange" id="edit-sticky-bg-orange"  />
                <label for="edit-sticky-bg-orange"><i class="mdi-communication-messenger orange-text"></i></label>
                <input name="style.fill" type="radio" value="brown" id="edit-sticky-bg-brown"  />
                <label for="edit-sticky-bg-brown"><i class="mdi-communication-messenger brown-text"></i></label>
                <input name="style.fill" type="radio" value="grey" id="edit-sticky-bg-grey"  />
                <label for="edit-sticky-bg-grey"><i class="mdi-communication-messenger grey-text"></i></label>
            </div>
        </div>
        <div class="modal-footer">
            <button id="update-sticky" class="waves-effect waves-green btn btn-small" type="button">Post</button>
            <a href="#!" class="modal-action modal-close waves-effect btn btn-flat btn-small">[Cancel]</a>
        </div>
    </form>
</div>