<div class="container">
  <div class="section">
    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title blue-text darken-text-4">Room : {{room.name}}</span>
              <div class="section">
                <form class="form" role="form" method="POST">
                  <div class="form-group">
                    <span class="card-title orange-text">Assign User / Group</span>
                    {{> user-group/user-group}}
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <span class="card-title blue-text">User List</span>
              <div class="section">
                <ul class="collection">
                  {{#each users}}
                    <li class="collection-item">
                      <span class="title">{{ this.name.first }} {{this.name.last}}</span>
                      <p>
                        Last Seen : {{this.lastActive}}
                      </p>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title blue-text">Upload File</span>
              <form role="form" class="col s12" method="post" action="" enctype="multipart/form-data">
                <div class="section">
                  <div class="file-field input-field">
                    <input class="file-path validate" type="text"/>
                    <div class="btn">
                      <span>File</span>
                      <input type="file" name="fileToUpload">
                    </div>
                    <p class="help-block">File support : png, jpg, docx, xlsx, pptx, pdf</p>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="section right-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                    Upload
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <span class="card-title blue-text">File List</span>
              <div class="section">
                <ul class="collection">
                  {{#each files}}
                    <li class="collection-item avatar">
                      <img src="/uploads/images/{{ this.name }}.1.jpg" class="rect"/>
                      <span class="title">{{ this.name }}</span>
                      <p>File: {{ this.name }}<br/>
                        Creator : {{this.creator.name.first}} {{this.creator.name.last}}
                      </p>
                      <a href="/mymemo/{{../room.id}}/{{this.id}}" class="secondary-content"><i class="mdi-content-send"></i></a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>