<div class="section">
  <div class="row">
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.createGroup.label'}}</h5>
        <form id="create-group">
          <div class="input-custom col s12">
            <label for="create-group-name">{{__ 'userManagement.createGroup.name'}}</label>
            <input id="create-group-name" name="name" type="text" class="validate">
            <input type="hidden" name="creator"/>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.createGroup.submit'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.groupList.label'}}</h5>
        <form id="select-group">
          <div class="col input-custom s12 m-bot-10">
            <select id="group-select" size="15">
                {{#each groups}}
                  <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light red" type="submit"
                    name="action">{{__ 'userManagement.groupList.delete'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.memberList.label'}}</h5>
        <form id="select-member">
          <div class="col input-custom s12 m-bot-10">
            <select id="group-member-select" size="15">

            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light red" type="submit"
                    name="action">{{__ 'userManagement.memberList.release'}}
            </button>
            <button class="btn btn-small waves-effect waves-light red" type="submit"
                    name="action">{{__ 'userManagement.memberList.releaseAll'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.studentList.label'}}</h5>
        <form id="select-student">
          <div class="col input-custom s12 m-bot-10">
            <select id="student-select" size="15">
                {{#each students}}
                  <option value="{{this.id}}">{{this.name.first}} {{this.name.last}}</option>
                {{/each}}
            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    id="assign-student-group">{{__ 'userManagement.studentList.assignToGroup'}}
            </button>
            <button class="btn btn-small waves-effect waves-light red" type="submit"
                    id="delete-student">{{__ 'userManagement.studentList.delete'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.createUser.label'}}</h5>
        <form id="create-user">
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.level'}}</label>
            <select name="level">
                <option value="student">{{__ 'userManagement.createUser.levelOption.student'}}</option>
                <option value="teacher">{{__ 'userManagement.createUser.levelOption.teacher'}}</option>
            </select>
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.firstName'}}</label>
            <input type="text" name="name.first" />
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.lastName'}}</label>
            <input type="text" name="name.last" />
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.username'}}</label>
            <input type="text" name="username" />
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.password'}}</label>
            <input type="password" name="password" />
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.group'}}</label>
            <select name="group">
              {{#each groups}}
                <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-custom col s12">
            <label for="create_group_name">{{__ 'userManagement.createUser.email'}}</label>
            <input type="email" name="email" />
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.createUser.submit'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.teacherList.label'}}</h5>
        <form id="select-teacher">
          <div class="col input-custom s12 m-bot-10">
            <select id="teacher-select" size="15">
                {{#each teachers}}
                  <option value="{{this._id}}">{{this.name.first}} {{this.name.last}}</option>
                {{/each}}
            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    id="assign-teacher-group">{{__ 'userManagement.teacherList.assignToGroup'}}
            </button>
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    id="delete-teacher">{{__ 'userManagement.teacherList.delete'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.importStudent.label'}}</h5>
        <form id="import-student">
          <div class="col input-custom s12 m-bot-10">
            <input type="file" name="file" />
          </div>
          <div class="col input-custom s12 m-bot-10">
            <select name="group">
                {{#each groups}}
                  <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.importStudent.submit'}}
            </button>
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.importStudent.template'}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col l3 m6 s12 m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.importTeacer.label'}}</h5>
        <form id="import-teacher">
          <div class="col input-custom s12 m-bot-10">
            <input type="file" name="file" />
          </div>
          <div class="col input-custom s12 m-bot-10">
            <select name="group">
              {{#each groups}}
                <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="row col s12">
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.importTeacer.submit'}}
            </button>
            <button class="btn btn-small waves-effect waves-light" type="submit"
                    name="action">{{__ 'userManagement.importTeacer.template'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l6 m12 s12  m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.background.label'}}</h5>
        <form id="select-background">
          <div class="col input-custom s6 m-bot-10">
            <select id="background-select" size="10">
                {{#each backgrounds}}
                  <option value="{{this._id}}" data-image="{{this.url}}">{{this.name}}</option>
                {{/each}}
            </select>
          </div>
        </form>
          <div class="col input-custom s6 m-bot-10">
            <span id="background-preview" class="preview-container bordered pattern"></span>
          </div>
          <div class="section">
            <form method="POST" action="" id="background-upload" enctype="multipart/form-data">
              <input type="file" id="background-file-upload" style="display: none;">
            </form>
            <button class="btn btn-small waves-effect waves-light" type="button" id="upload-background">
              {{__ 'userManagement.background.create'}}
            </button>
            <button class="btn btn-small waves-effect waves-light red" type="submit" id="delete-background">
              {{__ 'userManagement.background.delete'}}
            </button>
          </div>
      </div>
    </div>
    <div class="col l6 m12 s12  m-bot-10">
      <div class="content z-depth-1 bordered">
        <h5 class="header blue white-text">{{__ 'userManagement.template.label'}}</h5>
        <form id="select-template">
          <div class="col input-custom s6 m-bot-10">
            <select id="template-select" size="10">
                {{#each files}}
                  <option value="{{this._id}}" data-image="/uploads/images/{{this.name}}.1.jpg">{{this.name}}</option>
                {{/each}}
            </select>
          </div>
          <div class="col s6 m-bot-10">
            <span id="template-preview" class="preview-container bordered contain"></span>
          </div>
          <div class="section">
            <button class="btn btn-small waves-effect waves-light red" type="submit" name="action">
              {{__ 'userManagement.template.delete'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>