<ul class="row">
  {{#each memos}}
    <li class="col l3 s12 filelist m-bot-10">
      <a href="/mymemo/{{this._id}}/1">
        <table>
          <tr>
            <td class="pattern" style="background-image: url('{{ this.firstPage.background.url }}');" class="rect"></td>
            <td>
              <span class="title">{{ this.name }}</span>
              <p>
                {{__c .. 'index.files.item.creator'}} : {{this.creator.name.first}} {{this.creator.name.last}}<br/>

                {{__c .. 'index.files.item.created'}} : {{this.createdAt}}
              </p>
            </td>
          </tr>
        </table>
      </a>
    </li>
  {{/each}}
  <li class="col l3 s12 filelist m-bot-10">
    <table>
      <tr>
        <td>
          <span class="title">Create New File</span>
          <form method="POST" action="" id="create-file">
            <div class="col input-custom s12 m-bot-10">
              <label>File Name :</label>
              <input type="text" name="name">
            </div>
            <div class="col input-custom s12 m-bot-10">
              <button class="btn btn-small waves-effect waves-light" type="submit">
                {{__ 'userManagement.background.create'}}
              </button>
            </div>
          </form>
        </td>
      </tr>
    </table>
  </li>
</ul>