a {
  text-decoration: none;
}

input[type=text] {
  padding: 5px;
}

input[type=password] {
  padding: 5px;
}

h3 {
  margin: 2px 0px;
}

p {
  margin: 2px 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: 0px auto 0;
  width: auto;
  height: auto;
}

.navbar {
  margin-bottom: 0;
}

.layers ul, .chats ul {
  padding: 0px;
}

#footer {
  font-size: 12px;
}

#footer span {
  padding-top: 40px;
}

#copyright {
  float: left;
  color: #ffffff;
}

#layer-slide
  z-index: 99999999;

.cloud {
  width: 100%;
  height: 50px;
  top: 50px;
  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  position: relative;
}

.clouds {
  content: '';
  position: absolute;
  background: #f2f9fe;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.clouds.one {
  width: 130px;
  height: 100px;
  top: -3px;
  left: -20px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.clouds.two {
  width: 80px;
  height: 70px;
  top: 12px;
  left: 61px;

  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.clouds.three {
  width: 90px;
  height: 90px;
  top: 9px;
  left: 124px;

  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.clouds.login {
  width: 400px;
  height: 150px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 50px;
  text-align: center;
  margin: 100px auto;
  position: relative;
  border: 1px solid #ddd;
}

.clouds.login h2 {
  color: blue;
  font-size: 2em;
  position: relative;
  top: -20px;
  margin: 0px auto;
}

.slider-handle a {
  color: #fff;
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  border-top: 1px solid #fe0;
  background: #86bae1;
  cursor: pointer;

  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}

.layers-handle {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -50px;
  text-align: center;
  z-index: 999;
  transition(left .3s);
}

.chat-handle {
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -50px;
  text-align: center;
  z-index: 999;
}

.layers-handle a {
  display: block;
  width: 30px;
  height: 35px;
  line-height: 30px;
  background: border-color;
  color: #fff;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 99999999;
  border-radius(0px 10px 10px 0px);
}

.layers-handle a:hover {
  background: red;
}

.newlayerbox {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 3em;
  cursor: pointer;
  color: orange;
  border: 2px solid #ddd;
}

.chat-handle a {
  display: block;
  width: 30px;
  height: 35px;
  line-height: 30px;
  background: border-color;
  color: #fff;
  cursor: pointer;
  border-radius(10px 0px 0px 10px);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.chat-handle a:hover {
  background: red;
}

.menubox {
  font-size: 2em;
}

.menubox a {
  font-size: .5em;
  margin-left: 10px;
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
  float: left;
  color: #fff;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.menubox a:hover {
  color: orange;
  border: 2px solid orange;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.toolbox {
  position: relative;
  color: toolbox-icon-color;
}

.toolbox a {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  color: toolbox-icon;
}

.toolbox a:hover {
  color: red;
}

#draw-window {
  display: none;
  width: 300px;
  font-size: .8em;
  z-index: 9999999999999999999999;
}

#box-tab > div a:hover {
  color: red;
}

.userclassbox {
  width: 400px;
  height: 50px;
  position: absolute;
  left: 220px;
  top: 60px;
  font-size: 2em;
}

.accountbox {
  height: 30px;
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: right;
}

.contents {
  min-width: 700px;
  position: relative;
  top: 0px;
  left: 0px;
}

.content {
  width: 100%;
  table-layout: fixed;
}

canvas {
  /** position: absolute; **/
  -ms-touch-action: none;
}

.controls {
  width: 170px;
  padding: 10px;
  background: #3569b4;
  vertical-align: top;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.controlbox {
  display: block;
  width: 160px;
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.controlbox.colorbox {
  background: pink;
}

.controlbox.penbox {
  background: #f5bc65;
}

.controlbox.textbox {
  background: #f3de5f;
}

.controlbox.additional1 {
  background: #a6ce59;
}

.controlbox.additional2 {
  background: #5dbe71;
}

.colorbox label {
  line-height: 26px;
  font-weight: bold;
  width: 70px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;
  float: left;
}

.colorbox .k-colorpicker {
  float: left;
}

.colorbox .k-picker-wrap .k-select {
  padding: 0 2px;
}

.colorbox input[type='checkbox'] {
  float: left;
  margin-top: 5px;
}

.layers {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  top: 0;
  left: -110px;
  width: 110px;
  background: background-primary;
  position: fixed;
  z-index: 9999999;
  border-right: 1px solid border-color;
  transition(left .3s);
}

.chats {
  overflow: hidden;
  height: 100px;
  width: 210px;
  background: #fff;
  position: relative;
  vertical-align: top;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  transition: width .5s linear 1;
  -o-transition: width .5s linear 1;
  -ms-transition: width .5s linear 1;
  -moz-transition: width .5s linear 1;
  -webkit-transition: width .5s linear 1;
}

.chats footer {
  position: fixed;
  height: 35px;
  bottom: 0px;
  padding: 7px;
  background: #86bae1;
  width: 100%;
}

.chats h2 {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  background: #f3de5f;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#chatlist {
  position: relative;
  padding: 0px;
  min-height: 80%;
  height: calc(100% - 65px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chats footer a {
  position: relative;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  top: 5px;
}

.chats footer a:hover {
  color: orange;
}

.layers span {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  background: #f3de5f;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.chats li {
  width: 195px;
  padding: 10px;
  color: #000;
}

.chats span {
  font-weight: bolder;
  color: #86bae1;
}

.chats span.me {
  color: red;
}

.layerbox {
  position: relative;
  display: block;
  width: 80px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.layerbox a.del-layer {
  color: red;
  font-weight: bolder;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-weight: bolder;
  cursor: pointer;
  right: 0px;
  top: 0px;
}

.layerbox a {
  display: block;
  width: 100%;
  height: 100%;
}

#canvasContainer {
  position: relative;
  overflow: hidden;
  cursor: grab;
  cursor: -webkit-grab;
}

#previewCanvasContainer {
  position: relative;
  display: none;
}

#canvasContainer .card {
  margin: 0;
}

.button_login {
  display: block;
  position: absolute;
  padding: 5px 10px;
  cursor: pointer;
  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #aaa;
  margin: 20px auto;
  z-index: 99999;
}

.sessionlist-title {
  display: block;
  font-size: 1.2em;
  padding: 5px 10px;
  background: #86bae1;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.sessionlist {
  display: block;
  font-size: 1.2em;
  padding: 5px 10px;
  background: #ddd;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.sessionlist:hover {
  background: orange;
}

.session_lastupdate {
  font-size: .7em;
  line-height: 1.2em;
  float: right;
}

.drawcanvas {
  font-weight: bold;
  position: relative;
  font-size: 2.2em;
  top: 2px;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  filter: dropshadow(color = rgba(0, 0, 0, 0.2), offx = 2, offy = 2);
  color: blue;
}

.drawcanvas:hover {
  color: #fff;
}

.additional1 .drawcanvas {
  color: white;
  border: 2px solid white;
  display: block;
  margin-left: 10px;
  width: 32px;
  float: left;
}

.additional1 .drawcanvas.inputimage {
  -webkit-appearance: none;
}

.additional1 .drawcanvas:hover {
  color: blue;
  border: 2px solid blue;
}

.additional2 .drawcanvas {
  color: #fff;
  border: 2px solid #fff;
  display: block;
  margin-left: 10px;
  width: 32px;
  float: left;
}

.additional2 .drawcanvas:hover {
  color: blue;
  border: 2px solid blue;
}

.sliderwrapper {
  width: 250px;
  margin-top: 5px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}

.sliderwrapper .k-label {
  font-size: .7em;
  width: 100%;
  display: block;
}

.toolslider {
  width: 200px;
}

.linethickslider .k-slider-selection {
  background-color: #86bae1;
}

.linealphaslider .k-slider-selection {
  background-color: #86bae1;
}

.linethickslider .k-draghandle.k-state-selected:hover {
  background-image: url('/textures/highlight.png');
  background-image: none, -webkit-linear-gradient(top, #fe761b 0, #e15613 100%);
  background-image: none, -moz-linear-gradient(top, #fe761b 0, #e15613 100%);
  background-image: none, -o-linear-gradient(top, #fe761b 0, #e15613 100%);
  background-image: none, linear-gradient(to bottom, #fe761b 0, #e15613 100%);
  background-position: 50% 50%;
}

#canvasFake {
  cursor: crosshair;
}

.canvascontrol {
  display: none;
  text-align: center;
  background: red;
  margin-top: 5px;
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
}

.canvascontrol.active {
  display: block;
}

.canvascontrol a {
  font-size: 1.5em;
  color: blue;
  cursor: pointer;
}

.canvascontrol a:hover {
  color: orange;
}

.drawContainer {
  width: 100%;
  background: canvas-container-background;
  position: relative;
  overflow: hidden;
}

#canvasContainer, #previewCanvasContainer {
  margin: 0 auto;
}

#canvasContainer, #previewCanvasContainer {
  background: background-primary;
}

#canvasContainer > div {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  border: 2px solid transparent;
  cursor: pointer;
}

#photo-preview {
  width: 100%;
  min-height: 100px;
}

#canvasFakeContainer {
  position: absolute;
  display: none;
  &.active {
    display: block;
  }
}

#canvasContainer > div[class^="obj-"] {

}

#canvasContainer > div.stamp {
  transition: none;
  -webkit-transition: none;
}

#canvasContainer > div.active {
  border: 2px dashed #000;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#canvasContainer > div .ui-resizable-handle {
  transform: scale(2, 2);
  -ms-transform: scale(2, 2); /* IE 9 */
  -webkit-transform: scale(2, 2); /* Safari and Chrome */
  display: none;
}

.ui-rotatable-handle {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url("/images/rotate.png");
  background-size: 100%;
  right: -10px;
  top: -10px;
  position: absolute;
  display: none;
}

#canvasContainer > div.active .ui-resizable-handle,#canvasContainer > div.active .ui-rotatable-handle {
  display: block;
}

.ui-resizable-se {
  right: -8px;
  bottom: -8px;
}


.redactor_toolbar {
  position: absolute;
  top: -45px;
  width: 275px;
}

.redactor_toolbar li a.redactor_btn_buttonsave {
  background: url('/images/page_white_edit.png') no-repeat;
  background-position: 4px 6px;
}

.text-edit, .table-edit table {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
}

.table-edit {
  width: 100%;
  height: 100%;
}

.text-edit h1, .table-edit table {
  font-size: 36px !important;
  line-height: 40px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.text-edit h2, .table-edit table {
  font-size: 30px !important;
  line-height: 38px !important;
  margin-bottom: 15px !important;
  margin-top: 10px !important;
}

.text-edit h3, .table-edit table {
  font-size: 24px !important;
  line-height: 30px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.text-edit h4, .table-edit table {
  font-size: 18px !important;
  line-height: 24px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.text-edit:focus {
  padding: 0px !important;
}

.obj-text .redactor_box, .obj-table .redactor_box, .obj-comic .redactor_box {
  height: 100%;
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
}

.text-edit *, .table-edit table * {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  word-break: break-all;
}

.text-edit.disabled * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.text-edit.disabled > div, .text-edit.disabled .card-content, .table-edit.disabled table * {
  text-overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.card .card-content p {
  margin: 0 !important;
}

.text-edit ul, .text-edit ol {
  list-style: inherit;
}

.drawtextarea {
  border: none;
  position: absolute;
  background: none;
  padding: 5px;
}

.drawtextarea:focus {
  outline: none;
}

.textalignbut.active {
  color: green;
}

.stamp {
  position: relative;
  display: block;
  font-size: 3em;
  top: 2px;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #000;
  display: inline-block;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.ui-tooltip {
  font-size: .7em;
}

.palette-wrapper {
  margin-bottom: 25px;
  float: left;
  margin-right: 14px;
}

.palette-wrapper h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
}

.column {
  width: 310px;
}

.column .palette-wrapper {
  display: block;
}

#stamp-cursor.active {
  display: block;
  position: absolute;
}

#textbox-window {
  width: 540px;
  height: 100px;
}

.canvascontroltb {
  text-align: center;
  margin-top: 5px;
  color: #fff;
  padding: 5px;
}

.canvascontroltb a {
  font-size: 1em;
  color: blue;
  cursor: pointer;
  display: block;
  padding: 5px;
  background: yellow;
  width: 100px;
  float: left;
  margin-left: 10px;
  border: 1px solid #ddd;
}

.canvascontroltb a:hover {
  color: orange;
}

.grid-20 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAABG0lEQVR4Xu3bsQ2EMBQFQdyT+6/APYFcwxAYsZev9Jl7qcd18G+tdc85x6kn7vuOPW6jBYjTCTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIAph/YoH7SPzOX+c9c4C/v3cigLfTAANEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLfAOwdyKm+ABGPUdfMvtfUQAAAABJRU5ErkJggg==');
  background-size: 40px;
  background-repeat: repeat;
}

.grid-40 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAABG0lEQVR4Xu3bsQ2EMBQFQdyT+6/APYFcwxAYsZev9Jl7qcd18G+tdc85x6kn7vuOPW6jBYjTCTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIAph/YoH7SPzOX+c9c4C/v3cigLfTAANEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLfAOwdyKm+ABGPUdfMvtfUQAAAABJRU5ErkJggg==');
  background-size: 80px;
  background-repeat: repeat;
}

.grid-80 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAABG0lEQVR4Xu3bsQ2EMBQFQdyT+6/APYFcwxAYsZev9Jl7qcd18G+tdc85x6kn7vuOPW6jBYjTCTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIApi3wABRAPMWGCAKYN4CA0QBzFtggCiAeQsMEAUwb4EBogDmLTBAFMC8BQaIAph/YoH7SPzOX+c9c4C/v3cigLfTAANEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLDBAFMG+BAaIA5i0wQBTAvAUGiAKYt8AAUQDzFhggCmDeAgNEAcxbYIAogHkLfAOwdyKm+ABGPUdfMvtfUQAAAABJRU5ErkJggg==');
  background-size: 160px;
  background-repeat: repeat;
}

#stamp-window, #table-window, #chart-window, #upload-file-window, #upload-image-window, #stamp-cursor, #textbox-window, #opt-window, #save-window, #load-window {
  display: none;
}

.k-window.k-widget {
  -webkit-transform: scale(1) !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 1;
}

#viewport {
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  -o-perspective: 1000;
  perspective: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(bottom, rgb(69, 132, 180) 28%, rgb(31, 71, 120) 64%);
  background-image: -o-linear-gradient(bottom, rgb(69, 132, 180) 28%, rgb(31, 71, 120) 64%);
  background-image: -moz-linear-gradient(bottom, rgb(69, 132, 180) 28%, rgb(31, 71, 120) 64%);
  background-image: -webkit-linear-gradient(bottom, rgb(69, 132, 180) 28%, rgb(31, 71, 120) 64%);
  background-image: -ms-linear-gradient(bottom, rgb(69, 132, 180) 28%, rgb(31, 71, 120) 64%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.28, rgb(69, 132, 180)),
  color-stop(0.64, rgb(31, 71, 120))
  );
}

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  //border: 1px solid rgb( 255, 0, 0 );
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
}

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cloudBase {
  //border: 1px solid #ff00ff;
  position: absolute;
  left: 256px;
  top: 256px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.cloudLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

#load-session-list {
  padding: 0px;
}

#load-session-list li {
  cursor: pointer;
  padding: 5px;
  background: #eee;
  color: orange;
}

#load-session-list li:hover {
  background: orange;
  color: #fff;
}

.login_body {
  background-color: #60a4ff;
  padding: 0px;
  margin: -10px auto;
}

.body_container {
  width: 60%;
  margin: 60px auto;
  border: 3px dashed #ffee00;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.fixed-action-btn ul {
  left: 0;
  bottom: 0;
  top: 85px;
  width: 100px;
}

.fixed-action-btn ul li {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.bubblechat {
  position: relative;
  padding: 10px;
  margin-bottom: 1px;
}

.bubblechat.right {
  background: #ddd;
}

.bubblechat.left {
  background: #eee;
}

.comic {
  background-color: #fff;
  border: 4px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.comic:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100%;
  top: calc(100% + 4px);
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

.comic:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 36px;
  top: 100%;
  top: calc(100% + 4px);
  border: 18px solid;
  border-color: #fff transparent transparent #fff;
}

.comic.redactor_editor:after {
  display: none;
}

.comic.redactor_editor:before {
  display: none;
}

/* Vn Simple Modal
    -------------------------*/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 150px;height:auto;
  position: relative;
  margin: 5% auto;
  padding: 13px 20px 13px 20px;
  background: #34495e;color:#fff;
}

.close {
  background: #2c3e50;
  color: #16a085;padding:5px;border-radius:0 0 12px 0;
  line-height: 16px;
  position: absolute;
  right: -55px;
  text-align: center;
  top: 0;
  width: 16px;
  text-decoration: none;
  font-weight: bold;
}

 .no-margin
   margin: 0;

.text-edit.card {
  overflow: visible;
}

.text-edit.card iframe
  width: 100% !important;

#right-peek
  position: fixed;
  bottom: 20px;
  right: 0;
  height: 120px
  z-index: 999999999999999;
  background-image: url(/images/bg.png);
  background-size: 100% 100%;

#minimap
  z-index: 1;
  width: 90px;
  height: 90px;
  margin-top: 12px;
  background-repeat: repeat;
  background-size: 30%;
  float: left;

#minimap-thumbcanvas
  z-index: 1;
  position: absolute;
  width: 90px !important;
  height: 90px !important;
  pointer-events: none
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;

#minimap-indicator
  position: absolute;
  z-index: 1;
  min-width: 10px;
  min-height: 10px;
  border: 1px solid #fe0;
  box-shadow: 0 0 5px #000;
  background: rgba(255,255,255,0.15);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

#datepicker
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  .ui-datepicker
    width: auto;
    padding: 0;
    background: none;
  .ui-datepicker-title
    font-size: .7em;
  .ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next
    width: 1em;
    height: 1em;
  .ui-widget-header
    border: none;
    background: none;
  .ui-datepicker th
    padding: .1em .1em;
  .ui-datepicker td a
    padding: 0 .3em;
    border: none;
    background: none;
    font-size: 0.9em;
  a.ui-state-default
    color: #fff;
  a.ui-state-hover,a.ui-state-active
    color: #00EDE8;
  .ui-datepicker-header
    padding: 0;
  .ui-datepicker-calendar
    font-size: .7em
  .ui-datepicker-calendar thead
    display: none;
  .ui-widget-content
    border: none;

#panelBg {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 308px;
  height: 111px;
  z-index: 11000;
  overflow: hidden;
}
#panelGrip {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 100%;
}
#panelGripBg {
  position: absolute;
  left: -27px;
  top: 0;
  width: 27px;
  height: 100%;
  background-image: url(/images/grip.png);
  cursor: w-resize;
  background-size: 100% 100%;
}
#panelClose {
  position: absolute;
  left: -12px;
  top: 10px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: url("/images/closeright.png") no-repeat;
  background-size: 100%;
}
#panelClose.closed {
  background-image: url(/images/closeleft.png);
}
.sticky-background
  label
    i
      font-size:2em;

#sticky-create
  .redactor_toolbar
    position: relative
    width: auto
    top: 0
    margin-bottom: 10

#sticky-update
  .redactor_toolbar
    position: relative
    width: auto
    top: 0
    margin-bottom: 10

.fixed-action-btn
  transition top .3s


