@font-face {
  font-family: 'infinitec-draw';
  src:url('/fonts/infinitec-draw.eot?-rc9iw6');
  src:url('/fonts/infinitec-draw.eot?#iefix-rc9iw6') format('embedded-opentype'),
  url('/fonts/infinitec-draw.woff?-rc9iw6') format('woff'),
  url('/fonts/infinitec-draw.ttf?-rc9iw6') format('truetype'),
  url('/fonts/infinitec-draw.svg?-rc9iw6#cermati') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'infinitec-draw';
	content: attr(data-icon);
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-tools, .ico-pencil, .ico-image, .ico-attachment, .ico-handdrag, .ico-presentation, .ico-file, .ico-hospital, .ico-chart, .ico-chart-2, .ico-chart-3, .ico-cancel, .ico-checkmark, .ico-circle, .ico-square, .ico-polygon, .ico-polygonlasso, .ico-superman, .ico-greenlantern, .ico-captainamerica, .ico-avengers, .ico-punisher, .ico-spawn, .ico-xmen, .ico-spider, .ico-spiderman, .ico-batman, .ico-ironman, .ico-darthvader, .ico-spaceinvaders, .ico-pokemon, .ico-quake, .ico-robocop, .ico-residentevil, .ico-angrybirds, .ico-oneup, .ico-blankstare, .ico-sad, .ico-happy, .ico-play, .ico-pause, .ico-previous, .ico-next, .ico-rotatecounterclockwise, .ico-rotateclockwise, .ico-undo, .ico-redo, .ico-disk, .ico-print, .ico-home, .ico-cog, .ico-folder-open-alt, .ico-line, .ico-type, .ico-alignleft, .ico-aligncenter, .ico-alignright, .ico-number, .ico-number-2, .ico-number-3, .ico-number-4, .ico-number-5, .ico-number-6, .ico-number-7, .ico-number-8, .ico-number-9, .ico-number-10, .ico-number-11, .ico-number-12, .ico-number-13, .ico-number-14, .ico-number-15, .ico-number-16, .ico-number-17, .ico-number-18, .ico-number-19, .ico-number-20, .ico-stamp, .ico-upload, .ico-spinner, .ico-copy, .ico-table, .ico-shapes, .ico-document-alt-fill, .ico-bubbles, .ico-email, .ico-trash, .ico-deletefile, .ico-comment {
	font-family: 'infinitec-draw';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-tools:before {
	content: "\e000";
}
.ico-pencil:before {
	content: "\e001";
}
.ico-image:before {
	content: "\22b7";
}
.ico-attachment:before {
	content: "\e002";
}
.ico-handdrag:before {
	content: "\f0de";
}
.ico-presentation:before {
	content: "\f0c4";
}
.ico-file:before {
	content: "\f016";
}
.ico-hospital:before {
	content: "\f0c5";
}
.ico-chart:before {
	content: "\e003";
}
.ico-chart-2:before {
	content: "\e004";
}
.ico-chart-3:before {
	content: "\e005";
}
.ico-cancel:before {
	content: "\e006";
}
.ico-checkmark:before {
	content: "\e007";
}
.ico-circle:before {
	content: "\e008";
}
.ico-square:before {
	content: "\e009";
}
.ico-polygon:before {
	content: "\f1be";
}
.ico-polygonlasso:before {
	content: "\f397";
}
.ico-superman:before {
	content: "\f33f";
}
.ico-greenlantern:before {
	content: "\f340";
}
.ico-captainamerica:before {
	content: "\f341";
}
.ico-avengers:before {
	content: "\f342";
}
.ico-punisher:before {
	content: "\f343";
}
.ico-spawn:before {
	content: "\f344";
}
.ico-xmen:before {
	content: "\f345";
}
.ico-spider:before {
	content: "\f346";
}
.ico-spiderman:before {
	content: "\f347";
}
.ico-batman:before {
	content: "\f348";
}
.ico-ironman:before {
	content: "\f349";
}
.ico-darthvader:before {
	content: "\f34a";
}
.ico-spaceinvaders:before {
	content: "\f352";
}
.ico-pokemon:before {
	content: "\f354";
}
.ico-quake:before {
	content: "\f355";
}
.ico-robocop:before {
	content: "\f357";
}
.ico-residentevil:before {
	content: "\f350";
}
.ico-angrybirds:before {
	content: "\f3c1";
}
.ico-oneup:before {
	content: "\f3b7";
}
.ico-blankstare:before {
	content: "\f13e";
}
.ico-sad:before {
	content: "\f13d";
}
.ico-happy:before {
	content: "\f13c";
}
.ico-play:before {
	content: "\f184";
}
.ico-pause:before {
	content: "\f186";
}
.ico-previous:before {
	content: "\f18b";
}
.ico-next:before {
	content: "\f18a";
}
.ico-rotatecounterclockwise:before {
	content: "\f203";
}
.ico-rotateclockwise:before {
	content: "\f202";
}
.ico-undo:before {
	content: "\f32a";
}
.ico-redo:before {
	content: "\f32b";
}
.ico-disk:before {
	content: "\e00a";
}
.ico-print:before {
	content: "\e00b";
}
.ico-home:before {
	content: "\f015";
}
.ico-cog:before {
	content: "\e00c";
}
.ico-folder-open-alt:before {
	content: "\f115";
}
.ico-line:before {
	content: "\f1bf";
}
.ico-type:before {
	content: "\e00d";
}
.ico-alignleft:before {
	content: "\f1d7";
}
.ico-aligncenter:before {
	content: "\f1d9";
}
.ico-alignright:before {
	content: "\f1d8";
}
.ico-number:before {
	content: "\e00e";
}
.ico-number-2:before {
	content: "\e00f";
}
.ico-number-3:before {
	content: "\e010";
}
.ico-number-4:before {
	content: "\e011";
}
.ico-number-5:before {
	content: "\e012";
}
.ico-number-6:before {
	content: "\e013";
}
.ico-number-7:before {
	content: "\e014";
}
.ico-number-8:before {
	content: "\e015";
}
.ico-number-9:before {
	content: "\e016";
}
.ico-number-10:before {
	content: "\e017";
}
.ico-number-11:before {
	content: "\e018";
}
.ico-number-12:before {
	content: "\e019";
}
.ico-number-13:before {
	content: "\e01a";
}
.ico-number-14:before {
	content: "\e01b";
}
.ico-number-15:before {
	content: "\e01c";
}
.ico-number-16:before {
	content: "\e01d";
}
.ico-number-17:before {
	content: "\e01e";
}
.ico-number-18:before {
	content: "\e01f";
}
.ico-number-19:before {
	content: "\e020";
}
.ico-number-20:before {
	content: "\e021";
}
.ico-stamp:before {
	content: "\e022";
}
.ico-upload:before {
	content: "\e023";
}
.ico-spinner:before {
	content: "\e024";
}
.ico-copy:before {
	content: "\e025";
}
.ico-table:before {
	content: "\e026";
}
.ico-shapes:before {
	content: "\f1dd";
}
.ico-document-alt-fill:before {
	content: "\e027";
}
.ico-bubbles:before {
	content: "\e028";
}
.ico-email:before {
	content: "\e029";
}
.ico-trash:before {
	content: "\f0ce";
}
.ico-deletefile:before {
	content: "\f0c7";
}
.ico-comment:before {
	content: "\e02a";
}
