@charset "utf-8";
body,
input[type='text'],
input[type='password'],
textarea {
  font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
}
.menuBg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.menuBgLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  background-image: url(/image/menu/left.png);
}
.menuBgRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
  background-image: url(/image/menu/right.png);
}
.menuBgCenter {
  position: absolute;
  left: 9px;
  top: 0;
  background-image: url(/image/menu/center.png);
}
.menuBgLeftBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  background-image: url(/image/menu/leftbottom.png);
}
.menuBgRightBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  background-image: url(/image/menu/rightbottom.png);
}
.menuBgBottom {
  position: absolute;
  left: 9px;
  bottom: 0;
  height: 9px;
  background-image: url(/image/menu/bottom.png);
}
.menuSeparator {
  height: 1px;
  background-image: url(/image/menu/separator.png);
  overflow: hidden;
}
.menuSeparator2 {
  height: 1px;
  background-image: url(/image/menu/separator2.png);
  overflow: hidden;
}
.check {
  width: 16px;
  height: 16px;
}
.miniCalendarBg {
  max-width: 200px;
  padding: 2px 7px 7px 7px;
  width: expression(document.body.clientWidth < 150 ? '150px': document.body.clientWidth>200 ? '200px': 'auto');
}
.miniCalendarBgLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgleft.png);
}
.miniCalendarBgTop {
  position: absolute;
  left: 7px;
  top: 0;
  z-index: -1;
}
.miniCalendarBgRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgright.png);
}
.miniCalendarBgBody {
  position: absolute;
  left: 7px;
  bottom: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgbody.png);
}
.miniCalendarBgLeftBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgleftbottom.png);
}
.miniCalendarBgBottom {
  position: absolute;
  left: 7px;
  bottom: 0;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgbottom.png);
}
.miniCalendarBgRightBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgrightbottom.png);
}
.miniCalendar {
  text-align: right;
  table-layout: fixed;
  line-height: 1.2em;
  border-spacing: 0;
  border-collapse: collapse;
}
.miniCalendar td.miniCalendarDay {
  border: none;
  margin: 0;
  padding: 1px 3px 1px 2px;
  cursor: pointer;
}
.miniCalendar td.miniCalendarMarginCell {
  width: 2px;
}
.miniCalendar td.miniCalendarDayFirst {
  margin-top: 2px;
}
.miniCalendar td.miniCalendarSunday,
.miniCalendar td.miniCalendarHoliday {
  color: red;
}
.miniCalendar td.miniCalendarSaturday {
  color: blue;
}
.miniCalendar td.miniCalendarToday {
  background: url(/image/minicalendar/today.png) center center no-repeat!important;
  color: #f5f5f5;
}
.miniCalendar td.miniCalendarSelection {
  background: url(/image/minicalendar/selection.png) center center no-repeat!important;
  color: #f5f5f5;
}
.miniCalendar td.miniCalendarOtherMonth {
  color: gray;
}
.miniCalendar td.hilighted {
  background: url(/image/minicalendar/hilight.png) center center no-repeat;
  color: #1349A0;
}
.miniCalendarHeader {
  font-weight: bold;
  text-align: center;
}
.miniCalendarHeader td {
  padding-top: 2px;
}
.miniCalendarMargin {
  height: 2px;
}
.miniCalendarBar {
  position: relative;
  min-height: 20px;
}
.miniCalendarTitle {
  padding-left: 4px;
  padding-top: 3px;
  font-weight: bold;
}
.miniCalendarNav {
  position: absolute;
  right: 8px;
  top: 5px;
  width: 30px;
  text-align: right;
}
.miniCalendarNav .nav {
  float: left;
  cursor: pointer;
  background: url(/image/minicalendar/nav.png) no-repeat;
}
.miniCalendarNav .miniCalendarPrev {
  background-position: 0 0;
  width: 6px;
  height: 11px;
}
.miniCalendarNav .miniCalendarCurrent {
  background-position: -6px 0;
  width: 10px;
  height: 11px;
  margin: 0 4px;
}
.miniCalendarNav .miniCalendarNext {
  background-position: -16px 0;
  width: 6px;
  height: 11px;
}
.miniCalendarSeparator {
  margin-top: 2px;
  height: 1px;
  background-image: url(/image/minicalendar/separator.png);
  overflow: hidden;
}
html {
  overflow: hidden;
}
body {
  margin: 0;
  background: none #63656A;
}
#main {
  clear: both;
  width: 100%;
  visibility: hidden;
}
#dockEntryDrag {
  position: absolute;
}
.dockEntryDrag {
  position: absolute;
  overflow: hidden;
}
#canvasView {
  position: relative;
  overflow: hidden;
}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 2560px;
  height: 1920px;
  cursor: url(/image/cursor/hand.gif), url(/image/cursor/hand.cur), move;
}
#canvasDrag {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 13000;
}
#canvasCopy {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 12000;
}
#newEntryDrag {
  position: absolute;
  width: 200px;
  height: 250px;
  cursor: url(/image/cursor/grab.gif), url(/image/cursor/grab.cur), move;
}
#newEntryShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 2560px;
  height: 1920px;
  z-index: 10300;
  background-image: url(/image/dialogshadow.png);
}
.entryBg .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.entryStyle {
  display: block;
  cursor: auto;
}
.entryStyle .actionButton {
  cursor: pointer;
  width: 20px;
  height: 14px;
  float: right;
}
*html .entryStyle .actionButton {
  background: url(/image/iepngfix.gif) 0 0;
}
.entryStyle .editEntry {
  background-image: url(/image/action/normal.png);
  background-position: 0 0;
}
.entryStyle .editEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle .dueEntry {
  background-image: url(/image/action/normal.png);
  background-position: -20px 0;
}
.entryStyle .dueEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle .sendEntry {
  background-image: url(/image/action/normal.png);
  background-position: -40px 0;
}
.entryStyle .sendEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle .copyEntry {
  background-image: url(/image/action/normal.png);
  background-position: -60px 0;
}
.entryStyle .copyEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle .doneEntry {
  background-image: url(/image/action/normal.png);
  background-position: -80px 0;
}
.entryStyle .doneEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle .downloadEntry {
  background-image: url(/image/action/normal.png);
  background-position: -100px 0;
}
.entryStyle .downloadEntry:hover {
  background-image: url(/image/action/hover.png);
}
.entryStyle.movieEntry .editEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .editEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
.entryStyle.movieEntry .dueEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .dueEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
.entryStyle.movieEntry .sendEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .sendEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
.entryStyle.movieEntry .copyEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .copyEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
.entryStyle.movieEntry .doneEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .doneEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
.entryStyle.movieEntry .downloadEntry {
  background-image: url(/image/action/movienormal.png);
}
.entryStyle.movieEntry .downloadEntry:hover {
  background-image: url(/image/action/moviehover.png);
}
*html .entryStyle .editEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaledit.png');
}
*html .entryStyle .editEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaledithover.png');
}
*html .entryStyle .dueEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaldue.png');
}
*html .entryStyle .dueEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normalduehover.png');
}
*html .entryStyle .sendEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normalsend.png');
}
*html .entryStyle .sendEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normalsendhover.png');
}
*html .entryStyle .copyEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normalcopy.png');
}
*html .entryStyle .copyEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normalcopyhover.png');
}
*html .entryStyle .doneEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaldone.png');
}
*html .entryStyle .doneEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaldonehover.png');
}
*html .entryStyle .downloadEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaldownload.png');
}
*html .entryStyle .downloadEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/normaldownloadhover.png');
}
*html .entryStyle.movieEntry .editEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/movie.png');
}
*html .entryStyle.movieEntry .editEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/movieedithover.png');
}
*html .entryStyle.movieEntry .dueEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviedue.png');
}
*html .entryStyle.movieEntry .dueEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/movieduehover.png');
}
*html .entryStyle.movieEntry .sendEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviesend.png');
}
*html .entryStyle.movieEntry .sendEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviesendhover.png');
}
*html .entryStyle.movieEntry .copyEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviecopy.png');
}
*html .entryStyle.movieEntry .copyEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviecopyhover.png');
}
*html .entryStyle.movieEntry .doneEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviedone.png');
}
*html .entryStyle.movieEntry .doneEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviedonehover.png');
}
*html .entryStyle.movieEntry .downloadEntry {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviedownload.png');
}
*html .entryStyle.movieEntry .downloadEntryHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/action/moviedownloadhover.png');
}
.entryStyle .image {
  display: block;
  margin: 15px;
  background: no-repeat;
}
.entryStyle .body {
  padding-bottom: .1em;
}
.entryStyle .body p {
  margin: .2em 0 .2em 0;
  padding: 0;
  line-height: 1.2em;
}
.entryStyle .body p * {
  vertical-align: bottom;
}
.entryStyle .body .canvasLink {
  text-decoration: none;
}
.entryStyle .icon {
  float: left;
  margin: 6px 6px 3px 3px;
  width: 32px;
  height: 32px;
  background: url(/image/icon/icon.png) no-repeat;
}
.entryStyle .tag {
  color: #808080;
  text-align: right;
  font-size: 80%;
  overflow: hidden;
  line-spacing: 1px;
}
.entryStyle .tag .tagItem {
  cursor: pointer;
  white-space: nowrap;
}
.entryStyle .tag .tagItem.selected {
  font-weight: bold;
}
.entryStyle .tag .tagItem.tagItemDue {
  color: mediumpurple;
}
.entryStyle .tag .tagItem.tagItemToday {
  color: navy;
}
.entryStyle .tag .tagItem.tagItemTomorrow {
  color: teal;
}
.entryStyle .tag .tagItem.tagItemOverDue {
  color: crimson;
}
.entryStyle .tag .tagItem .dueTag {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.entryStyle .movie .thumbnail {
  padding: 18px 16px 18px 16px;
}
.entryStyle .movie .information {
  padding-left: 16px;
  padding-right: 16px;
  color: #b3b3b3;
}
.entryStyle .movie .play {
  position: absolute;
  bottom: 18px;
  right: 0;
  color: #b3b3b3;
  text-align: right;
  margin-right: 16px;
  padding-right: 23px;
  background: url(/image/movie/play.png) right center no-repeat;
}
.entryStyle .movie .play:hover {
  color: #fff;
  background-image: url(/image/movie/playhover.png);
}
.entryStyle .movie .play span {
  cursor: pointer;
}
.entryStyle .attachment {
  margin: 5px 0;
  font-size: 90%;
  min-height: 48px;
}
.entryStyle .attachment img {
  float: left;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.entryStyle .attachment .information {
  margin-left: 53px;
}
.entryStyle .attachment .download {
  margin-top: 10px;
  font-size: 90%;
}
.entryStyle .attachment .download span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.entryStyle .creator,
.entryStyle .updated {
  font-size: 70%;
  text-align: right;
}
.entryStyle span {
  cursor: auto;
}
.entryStyle .footer {
  position: absolute;
  left: 10px;
  margin-right: 23px;
  bottom: 13px;
}
.entryStyle .action {
  text-align: right;
  font-size: 1px;
  vertical-align: bottom;
  height: 14px;
  margin-top: 2px;
  margin-right: -2px;
}
.entryStyle .creatorIcon {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -2px;
  width: 16px;
  height: 16px;
  background: transparent no-repeat;
}
.entryStyle .newEntryIcon {
  position: absolute;
  left: -10px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url(/image/newentry.png) no-repeat;
}
img {
  border: none;
}
.handle {
  cursor: url(/image/cursor/pick.gif), url(/image/cursor/pick.cur), move;
}
.nodrag {
  cursor: auto;
}
.grip {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 8px;
  height: 8px;
  cursor: se-resize;
  background: url(/image/grip.png) right bottom no-repeat;
}
.pinContainer {
  position: absolute;
  top: -8px;
  width: 100%;
  height: 0;
}
.pin {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(/image/entry/pinempty.png);
}
.pin:hover {
  background-image: url(/image/entry/pin.png);
}
.pin.pushed {
  background-image: url(/image/entry/pinpushed.png);
}
*html .pinHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/entry/pin.png');
}
*html .pinPushedHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/entry/pinpushed.png');
}
.rotate {
  position: absolute;
  right: 8px;
  top: 0;
  width: 24px;
  height: 24px;
  cursor: se-resize;
  background-image: url(/image/entry/rotateempty.png);
}
.rotate:hover,
.rotate.rotating {
  background-image: url(/image/entry/rotate.png);
}
.buttons {
  white-space: nowrap;
  text-align: right;
  font-size: 80%;
  margin-top: .3em;
}
#opSubscribe {
  cursor: pointer;
}
#bodySize {
  position: absolute;
  visibility: hidden;
}
#bodySize .icon {
  float: left;
  margin: 6px 6px 3px 3px;
  width: 32px;
  height: 32px;
}
#bodySize p {
  margin: .2em 0 .2em 0;
  padding: 0;
  line-height: 1.2em;
}
#tagSize {
  font-size: 80%;
  visibility: hidden;
}
#tagSize .tagItem {
  white-space: nowrap;
}
#effect {
  position: absolute;
  z-index: 20000;
}
#logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 3px 1px 3px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 30000;
  background-color: #374250;
}
#logo a {
  color: white;
  text-decoration: none;
}
#logo a:hover {
  text-decoration: underline;
}
#attribution {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 0 3px;
  color: white;
  font-size: 12px;
}
#attribution a {
  color: white;
  text-decoration: underline;
}
#power {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 12px;
}
#power a {
  color: white;
  text-decoration: none;
}
#power a:hover {
  text-decoration: underline;
}
#movieContainer {
  cursor: pointer;
  z-index: 13000;
}
#movie {
  position: absolute;
  cursor: pointer;
  z-index: 13001;
}
.topBar {
  position: absolute;
  width: 100%;
  padding: 5px 5px 7px 5px;
  color: #eee;
  font-size: 85%;
  background: url(/image/topbar.png) bottom left repeat-x;
  z-index: 11000;
}
*html .topBar {
  padding: 5px;
  background-image: none;
  background-color: #374459;
}
.topBar a {
  text-decoration: underline;
  color: #eee;
}
#ios {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20000;
}
#ios>div {
  margin: 3em auto;
  width: 80%;
  font-size: 180%;
  color: white;
}
#ios .button {
  margin: 1em 0;
  padding: .5em;
  background: black;
  border: solid white 2px;
  font-weight: bold;
  text-align: center;
}
#ios .button strong {
  font-size: 160%;
}
#ios .close {
  position: absolute;
  top: 0;
  right: 0;
}
#ios a {
  text-decoration: none;
  color: white;
}
.entryBg .bgCenter {
  position: absolute;
  left: 6px;
  top: 0;
  right: 8px;
  bottom: 8px;
}
.entryBg .bgLeftTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 8px;
  background: url(/image/entry/lefttop.png) no-repeat right top;
}
.entryBg .bgLeft {
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  background: url(/image/entry/left.png) repeat-y right top;
}
.entryBg .bgLeftBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  height: 8px;
  background: url(/image/entry/leftbottom.png) no-repeat right top;
}
.entryBg .bgRightTop {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 8px;
  background: url(/image/entry/righttop.png) no-repeat;
}
.entryBg .bgRight {
  position: absolute;
  right: 0;
  top: 8px;
  width: 8px;
  background: url(/image/entry/right.png) repeat-y;
}
.entryBg .bgRightBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background: url(/image/entry/rightbottom.png) no-repeat;
}
.entryBg .bgBottom {
  position: absolute;
  left: 6px;
  right: 8px;
  bottom: 0;
  height: 8px;
  background: url(/image/entry/bottom.png) repeat-x;
}
.entryBg .content {
  position: relative;
  top: 2px;
  left: 10px;
  margin-right: 22px;
  overflow: hidden;
}
.entryBg .logo,
.entryBg .logoIE {
  position: absolute;
  left: 6px;
  top: 0;
  background: url(/image/logo/lino.png) no-repeat left bottom;
}
.entryBg .logoWhite,
.entryBg .logoWhiteIE {
  background-image: url(/image/logo/lino_white.png)!important;
}
#notification {
  z-index: 20000;
}
#movieNotification {
  z-index: 14999;
}
.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 1em;
  color: white;
  text-align: center;
  overflow: hidden;
  padding: 0 25px;
  background-image: url(/image/notification/information.png);
  background-position: left bottom;
}
.notification a {
  color: lightblue;
  text-decoration: none;
}
.notificationClose {
  position: absolute;
  right: 10px;
  bottom: 13px;
  cursor: pointer;
  width: 12px;
  height: 12px;
}
#movieNotification .stopMovie {
  color: lightblue;
  cursor: pointer;
}
#board {
  background: url(/image/bg.png) repeat-x 0 -400px;
  width: 100%;
}
#boardContent {
  background: url(/image/board/shadow.png) repeat-x left bottom;
  _background: none;
  width: 100%;
  padding: 15px 10px 5px 30px;
  color: #fff;
}
#boardContent table {
  width: 97%;
  font-size: 80%;
  border-collapse: collapse;
}
#board td.canvasImage {
  width: 88px;
}
#board td.canvasImage img {
  behavior: expression(IEPNGFIX.fix(this));
}
#board ul {
  list-style-type: none;
  font-size: 80%;
  margin: -5px 0 0 10px;
  padding: 0;
}
#board td.canvasProp h1 {
  margin: 0;
  padding: 0;
  font-size: 140%;
  font-weight: bold;
}
#board td.canvasProp p {
  font-size: 100%;
  margin: 0 0 2px 0;
}
#board td.canvasProp p.label {
  font-size: 85%;
  margin: 7px 0 0 0;
}
#board .close {
  vertical-align: bottom;
}
#board .close a {
  display: block;
  width: 16px;
  height: 16px;
  background: url(/image/board/close.png) no-repeat top left;
}
#board .close a:hover {
  background-position: 0 -16px;
}
#board .close a span {
  display: none;
}
#board th {
  text-align: right;
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
  padding: 3px 3px 0 0;
}
#board td {
  vertical-align: top;
  padding: 1px 0 5px 2px;
}
#board input {
  width: 36em;
  background: #ffedaf;
  border: none;
  font-size: 90%;
  padding: 3px;
}
#board a {
  color: #fff;
}
#board p {
  margin: 1px 0 0;
  padding: 0;
  font-size: 75%;
  color: #fff;
}
#paletteBg {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 322px;
  z-index: 11000;
}
#paletteImgBody {
  width: 322px;
}
.paletteMy #paletteImgBody {
  height: 140px;
}
.paletteReadWrite #paletteImgBody {
  height: 140px;
}
.paletteReadonly #paletteImgBody {
  height: 30px;
}
#palette {
  position: absolute;
  left: 0;
  top: 0;
  width: 322px;
  color: #1349A0;
  background-image: url(/image/transparentbg.png);
}
.paletteMy #palette {
  height: 188px;
}
.paletteReadWrite #palette {
  height: 188px;
}
.paletteReadonly #palette {
  height: 77px;
}
#paletteImg {
  border-collapse: collapse;
}
#paletteImg td {
  padding: 0;
}
*html #paletteImg td img {
  behavior: expression(IEPNGFIX.fix(this));
}
#paletteHeader {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 292px;
  font-size: 13px;
}
#paletteHeader a {
  text-decoration: none;
  color: #1349A0;
}
#paletteHeader a:hover {
  color: #eee;
}
#paletteHeader .canvasName {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 26px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
#paletteHeader .canvasName * {
  vertical-align: middle;
}
#paletteHeader .canvasName .canvasNameValue:hover {
  color: #eee;
}
#paletteHeader .canvasName .ownerName {
  font-size: 80%;
}
#paletteHeader .subscription {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: none;
  background: no-repeat right center;
  behavior: expression(IEPNGFIX.fix(this));
}
#paletteHeader .subscription.pushed {
  top: 1px;
  left: 195px;
}
.html #paletteHeader .subscriptionPushed {
  top: 1px;
  left: 195px;
}
#paletteHeader.unsubscribed .subscribe {
  display: inline;
}
#paletteHeader.subscribed .unsubscribe {
  display: inline;
}
#paletteHeader .actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
}
#paletteHeader .action {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  cursor: pointer;
  background: url(/image/palette/action.png) no-repeat;
}
.canvasTypeMy #paletteHeader .action {
  background: url(/image/palette/my/action.png) no-repeat;
}
.canvasTypeReference #paletteHeader .action {
  background: url(/image/palette/reference/action.png) no-repeat;
}
.canvasTypeGroup #paletteHeader .action {
  background: url(/image/palette/group/action.png) no-repeat;
}
*html #paletteHeader .action {
  background-image: url(/image/iepngfix.gif)!important;
}
*html .actionRegister {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/register.png');
}
*html .actionRegisterHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/registerhover.png');
}
*html .actionLogin {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/login.png');
}
*html .actionLoginHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/loginhover.png');
}
*html .actionLogout {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/logout.png');
}
*html .actionLogoutHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/logouthover.png');
}
*html .actionHelp {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/help.png');
}
*html .actionHelpHover {
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/helphover.png');
}
*html .actionHome {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='/image/palette/home.png');
}
*html .actionHomeHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='/image/palette/homehover.png');
}
*html .actionBoard {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='/image/palette/board.png');
}
*html .actionBoardHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='/image/palette/boardhover.png');
}
#paletteHeader .user * {
  vertical-align: middle;
}
#paletteHeader .icon {
  width: 16px;
  height: 16px;
  margin: 0 3px 0 0;
  behavior: expression(IEPNGFIX.fix(this));
}
#palette .paletteItem {
  position: absolute;
  cursor: url(/image/cursor/pick.gif), url(/image/cursor/pick.cur), move;
  behavior: expression(IEPNGFIX.fix(this));
}
#palette .paletteItemMain {
  top: 40px;
  width: 72px;
  height: 70px;
}
#palette .paletteItemSub {
  top: 110px;
  width: 42px;
  height: 42px;
}
#paletteItem0 {
  left: 13px;
}
#paletteItem1 {
  left: 87px;
}
#paletteItem2 {
  left: 161px;
}
#paletteItem3 {
  left: 235px;
}
#paletteItem4 {
  left: 130px;
}
#paletteItem5 {
  left: 174px;
}
#paletteItem6 {
  left: 218px;
}
#paletteItem7 {
  left: 262px;
}
#paletteFooter {
  position: absolute;
  left: 10px;
  bottom: 14px;
  width: 300px;
  font-size: 13px;
}
#paletteExpand {
  position: absolute;
  right: 6px;
  bottom: 7px;
  width: 16px;
  height: 16px;
  background-image: url(/image/palette/collapse.png);
  cursor: pointer;
}
.canvasTypeMy #paletteExpand {
  background-image: url(/image/palette/my/collapse.png);
}
.canvasTypeReference #paletteExpand {
  background-image: url(/image/palette/reference/collapse.png);
}
.canvasTypeGroup #paletteExpand {
  background-image: url(/image/palette/group/collapse.png);
}
#paletteExpand.collapsed {
  bottom: 5px;
  background-image: url(/image/palette/expand.png);
}
.canvasTypeMy #paletteExpand.collapsed {
  background-image: url(/image/palette/my/expand.png);
}
.canvasTypeReference #paletteExpand.collapsed {
  background-image: url(/image/palette/reference/expand.png);
}
.canvasTypeGroup #paletteExpand.collapsed {
  background-image: url(/image/palette/group/expand.png);
}
#palettePin {
  position: absolute;
  left: 154px;
  bottom: 6px;
  width: 15px;
  height: 10px;
  background-image: url(/image/palette/pin.png);
  cursor: pointer;
  overflow: hidden;
}
.canvasTypeMy #palettePin {
  background-image: url(/image/palette/my/pin.png);
}
.canvasTypeReference #palettePin {
  background-image: url(/image/palette/reference/pin.png);
}
.canvasTypeGroup #palettePin {
  background-image: url(/image/palette/group/pin.png);
}
#palettePin.pinned {
  bottom: 6px;
  background-image: url(/image/palette/pinned.png);
}
.canvasTypeMy #palettePin.pinned {
  background-image: url(/image/palette/my/pinned.png);
}
.canvasTypeReference #palettePin.pinned {
  background-image: url(/image/palette/reference/pinned.png);
}
.canvasTypeGroup #palettePin.pinned {
  background-image: url(/image/palette/group/pinned.png);
}
#newEntryMode {
  float: left;
  cursor: pointer;
  height: 20px;
  width: 136px;
  background: url(/image/palette/footer_en.png) no-repeat left top;
}
.canvasTypeMy #newEntryMode {
  background-image: url(/image/palette/my/footer_en.png);
}
.canvasTypeReference #newEntryMode {
  background-image: url(/image/palette/reference/footer_en.png);
}
.canvasTypeGroup #newEntryMode {
  background-image: url(/image/palette/group/footer_en.png);
}
html.ja #newEntryMode {
  width: 111px;
  background-image: url(/image/palette/footer_ja.png);
}
html.ja .canvasTypeMy #newEntryMode {
  background-image: url(/image/palette/my/footer_ja.png);
}
html.ja .canvasTypeReference #newEntryMode {
  background-image: url(/image/palette/reference/footer_ja.png);
}
html.ja .canvasTypeGroup #newEntryMode {
  background-image: url(/image/palette/group/footer_ja.png);
}
html.zh #newEntryMode {
  background-image: url(/image/palette/footer_zh.png);
}
html.zh .canvasTypeMy #newEntryMode {
  background-image: url(/image/palette/my/footer_zh.png);
}
html.zh .canvasTypeReference #newEntryMode {
  background-image: url(/image/palette/reference/footer_zh.png);
}
html.zh .canvasTypeGroup #newEntryMode {
  background-image: url(/image/palette/group/footer_zh.png);
}
html.ko #newEntryMode {
  width: 121px;
  background-image: url(/image/palette/footer_ko.png);
}
html.ko .canvasTypeMy #newEntryMode {
  background-image: url(/image/palette/my/footer_ko.png);
}
html.ko .canvasTypeReference #newEntryMode {
  background-image: url(/image/palette/reference/footer_ko.png);
}
html.ko .canvasTypeGroup #newEntryMode {
  background-image: url(/image/palette/group/footer_ko.png);
}
#newEntryMode.pushed {
  background-position: 0 -40px!important;
}
#newEntryMode:hover {
  background-position: 0 -20px;
}
*html .newEntryButton {
  background-image: url(/image/iepngfix.gif)!important;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNew_en.png');
}
*html.ja .newEntryButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNew_ja.png');
}
*html.zh .newEntryButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNew_zh.png');
}
*html.ko .newEntryButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNew_ko.png');
}
*html .newEntryButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewHover_en.png');
}
*html.ja .newEntryButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewHover_ja.png');
}
*html.zh .newEntryButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewHover_zh.png');
}
*html.ko .newEntryButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewHover_ko.png');
}
*html .newEntryButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewOn_en.png');
}
*html.ja .newEntryButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewOn_ja.png');
}
*html.zh .newEntryButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewOn_zh.png');
}
*html.ko .newEntryButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerNewOn_ko.png');
}
#newEntryNext {
  float: left;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  left: -20px;
}
#showPrivate {
  float: right;
  cursor: pointer;
  height: 20px;
  width: 113px;
  background: url(/image/palette/footer_en.png) 0 -60px;
  margin-right: 3px;
  overflow: hidden;
}
.canvasTypeMy #showPrivate {
  background-image: url(/image/palette/my/footer_en.png);
}
.canvasTypeReference #showPrivate {
  background-image: url(/image/palette/reference/footer_en.png);
}
.canvasTypeGroup #showPrivate {
  background-image: url(/image/palette/group/footer_en.png);
}
html.ja #showPrivate {
  width: 143px;
  background-image: url(/image/palette/footer_ja.png);
}
html.ja .canvasTypeMy #showPrivate {
  background-image: url(/image/palette/my/footer_ja.png);
}
html.ja .canvasTypeReference #showPrivate {
  background-image: url(/image/palette/reference/footer_ja.png);
}
html.ja .canvasTypeGroup #showPrivate {
  background-image: url(/image/palette/group/footer_ja.png);
}
html.zh #showPrivate {
  background-image: url(/image/palette/footer_zh.png);
}
html.zh .canvasTypeMy #showPrivate {
  background-image: url(/image/palette/my/footer_zh.png);
}
html.zh .canvasTypeReference #showPrivate {
  background-image: url(/image/palette/reference/footer_zh.png);
}
html.zh .canvasTypeGroup #showPrivate {
  background-image: url(/image/palette/group/footer_zh.png);
}
html.ko #showPrivate {
  width: 143px;
  background-image: url(/image/palette/footer_ko.png);
}
html.ko .canvasTypeMy #showPrivate {
  background-image: url(/image/palette/my/footer_ko.png);
}
html.ko .canvasTypeReference #showPrivate {
  background-image: url(/image/palette/reference/footer_ko.png);
}
html.ko .canvasTypeGroup #showPrivate {
  background-image: url(/image/palette/group/footer_ko.png);
}
#showPrivate.pushed {
  background-position: 0 -100px!important;
}
#showPrivate:hover {
  background-position: 0 -80px;
}
*html .showPrivateButton {
  background-image: url(/image/iepngfix.gif)!important;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivate_en.png');
}
*html.ja .showPrivateButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivate_ja.png');
}
*html.zh .showPrivateButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivate_zh.png');
}
*html.ko .showPrivateButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivate_ko.png');
}
*html .showPrivateButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateHover_en.png');
}
*html.ja .showPrivateButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateHover_ja.png');
}
*html.zh .showPrivateButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateHover_zh.png');
}
*html.ko .showPrivateButtonHover {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateHover_ko.png');
}
*html .showPrivateButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateOn_en.png');
}
*html.ja .showPrivateButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateOn_ja.png');
}
*html.zh .showPrivateButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateOn_zh.png');
}
*html.ko .showPrivateButtonPushed {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/palette/footerPrivateOn_ko.png');
}
#dockBg {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 27px;
  height: 111px;
  z-index: 11000;
  overflow: hidden;
}
#dockView {
  position: absolute;
  left: 47px;
  top: 8px;
  width: 0;
  height: 90px;
  overflow: hidden;
}
#dock {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  overflow: hidden;
}
#dock .dockItem {
  float: left;
  position: relative;
  width: 120px;
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  display: inline;
}
#dock .dockItem .dockItemImg {
  position: relative;
  left: 20px;
  top: 23px;
  width: 89px;
  height: 68px;
  behavior: expression(IEPNGFIX.fix(this));
}
#dock .dockItem .dockView {
  position: absolute;
  left: 25px;
  top: 24px;
  width: 78px;
  height: 58px;
  background-image: url(/image/dock/view.png);
  display: block;
}
#dock .dockItem .dockName {
  position: absolute;
  left: 0;
  top: 5px;
  width: 120px;
  padding: 0 5px 0 5px;
  font-size: 80%;
  white-space: nowrap;
  text-align: center;
}
#dock .dockItem.dockSelfItem .dockName a {
  background-image: url(/image/dock/self.png);
  color: white;
}
#dock .dockItem .dockName a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}
#dock .dockItem .dockCalendar {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
#dock .dockEntry {
  position: absolute;
}
#dockInfo {
  position: absolute;
  left: 47px;
  top: 18px;
  width: 0;
  height: 72px;
  margin-left: 15px;
  overflow: hidden;
}
#dockInfo img {
  width: 72px;
  height: 72px;
  margin-right: 5px;
}
#dockInfo * {
  vertical-align: middle;
}
#dockLeft {
  position: absolute;
  left: 35px;
  top: 46px;
  width: 13px;
  height: 18px;
  cursor: pointer;
  background: url(/image/dock/arrow.png) 0 0 no-repeat;
  overflow: hidden;
}
#dockLeft.disabled {
  background-position: 0 -18px;
}
#dockRight {
  position: absolute;
  right: 5px;
  top: 46px;
  width: 13px;
  height: 18px;
  cursor: pointer;
  background: url(/image/dock/arrow.png) -13px 0 no-repeat;
  overflow: hidden;
}
#dockRight.disabled {
  background-position: -13px -18px;
}
#dockSelector {
  position: absolute;
  left: 0;
  top: 10px;
  width: 30px;
  height: 90px;
  overflow: hidden;
}
#dockSelectorControl {
  position: absolute;
  left: 13px;
  top: 30px;
  width: 8px;
}
#dockSelectorPrev {
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  background: url(/image/dock/selector.png) 0 0 no-repeat;
  cursor: pointer;
  overflow: hidden;
}
#dockSelectorNext {
  position: absolute;
  top: 24px;
  width: 8px;
  height: 8px;
  background: url(/image/dock/selector.png) 0 -16px no-repeat;
  cursor: pointer;
  overflow: hidden;
}
#dockSelectorMy {
  position: absolute;
  top: 12px;
  width: 8px;
  height: 8px;
  background: url(/image/dock/selector.png) 0 -8px no-repeat;
  cursor: pointer;
  overflow: hidden;
}
#dockGrip {
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
  height: 111px;
  overflow: hidden;
}
#dockGripBg {
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
  height: 111px;
  background-image: url(/image/dock/grip.png);
  cursor: e-resize;
  behavior: expression(IEPNGFIX.fix(this));
}
.canvasTypeMy #dockGripBg {
  background-image: url(/image/dock/my/grip.png);
}
.canvasTypeReference #dockGripBg {
  background-image: url(/image/dock/reference/grip.png);
}
.canvasTypeGroup #dockGripBg {
  background-image: url(/image/dock/group/grip.png);
}
#dockClose {
  position: absolute;
  right: 13px;
  top: 10px;
  width: 10px;
  height: 9px;
  cursor: pointer;
  background: url(/image/dock/closeleft.png) no-repeat;
}
#dockClose.closed {
  background-image: url(/image/dock/closeright.png);
}
*html #dockClose {
  background-image: none;
}
*html .dockCloseButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/dock/closeleft.png');
}
*html .dockOpenButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/dock/closeright.png');
}
#dockPin {
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: url(/image/dock/pin.png) no-repeat;
  behavior: expression(IEPNGFIX.fix(this));
  overflow: hidden;
}
.canvasTypeMy #dockPin {
  background: url(/image/dock/my/pin.png) no-repeat;
}
.canvasTypeReference #dockPin {
  background: url(/image/dock/reference/pin.png) no-repeat;
}
.canvasTypeGroup #dockPin {
  background: url(/image/dock/group/pin.png) no-repeat;
}
#dockPin.pinned {
  background-image: url(/image/dock/pinned.png);
}
.canvasTypeMy #dockPin.pinned {
  background-image: url(/image/dock/my/pinned.png);
}
.canvasTypeReference #dockPin.pinned {
  background-image: url(/image/dock/reference/pinned.png);
}
.canvasTypeGroup #dockPin.pinned {
  background-image: url(/image/dock/group/pinned.png);
}
*html #dockPin {
  background-image: none;
}
*html .dockPinButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/dock/pin.png');
}
*html .dockPinnedButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/dock/pinned.png');
}
#dockBody {
  position: absolute;
  width: 0;
  height: 111px;
  background-image: url(/image/dock/bg.png);
  overflow: hidden;
}
.canvasTypeMy #dockBody {
  background-image: url(/image/dock/my/bg.png);
}
.canvasTypeReference #dockBody {
  background-image: url(/image/dock/reference/bg.png);
}
.canvasTypeGroup #dockBody {
  background-image: url(/image/dock/group/bg.png);
}
*html #dockBody {
  background-image: none!important;
}
*html #dockBodyBg {
  position: absolute;
  width: 100%;
  height: 111px;
  overflow: hidden;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/dock/bg.png');
}
#panelBg {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 308px;
  height: 111px;
  z-index: 11000;
  overflow: hidden;
}
#panelGrip {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 111px;
}
#panelGripBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 111px;
  background-image: url(/image/panel/grip.png);
  cursor: w-resize;
  behavior: expression(IEPNGFIX.fix(this));
}
.canvasTypeMy #panelGripBg {
  background-image: url(/image/panel/my/grip.png);
}
.canvasTypeReference #panelGripBg {
  background-image: url(/image/panel/reference/grip.png);
}
.canvasTypeGroup #panelGripBg {
  background-image: url(/image/panel/group/grip.png);
}
#panelClose {
  position: absolute;
  left: 13px;
  top: 10px;
  width: 10px;
  height: 9px;
  cursor: pointer;
  background: url(/image/panel/closeright.png) no-repeat;
}
#panelClose.closed {
  background-image: url(/image/panel/closeleft.png);
}
*html #panelClose {
  background-image: none;
}
*html .panelCloseButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/panel/closeright.png');
}
*html .panelOpenButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/panel/closeleft.png');
}
#panelPin {
  position: absolute;
  left: 13px;
  bottom: 13px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: url(/image/panel/pin.png) no-repeat;
  behavior: expression(IEPNGFIX.fix(this));
  overflow: hidden;
}
.canvasTypeMy #panelPin {
  background-image: url(/image/panel/my/pin.png);
}
.canvasTypeReference #panelPin {
  background-image: url(/image/panel/reference/pin.png);
}
.canvasTypeGroup #panelPin {
  background-image: url(/image/panel/group/pin.png);
}
#panelPin.pinned {
  background-image: url(/image/panel/pinned.png);
}
.canvasTypeMy #panelPin.pinned {
  background-image: url(/image/panel/my/pinned.png);
}
.canvasTypeReference #panelPin.pinned {
  background-image: url(/image/panel/reference/pinned.png);
}
.canvasTypeGroup #panelPin.pinned {
  background-image: url(/image/panel/group/pinned.png);
}
*html #panelPin {
  background-image: none;
}
*html .panelPinButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/panel/pin.png');
}
*html .panelPinnedButton {
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='/image/panel/pinned.png');
}
#panelBody {
  position: absolute;
  left: 27px;
  top: 0;
  width: 281px;
  height: 111px;
  background-image: url(/image/panel/bg.png);
  behavior: expression(IEPNGFIX.fix(this));
}
.canvasTypeMy #panelBody {
  background-image: url(/image/panel/my/bg.png);
}
.canvasTypeReference #panelBody {
  background-image: url(/image/panel/reference/bg.png);
}
.canvasTypeGroup #panelBody {
  background-image: url(/image/panel/group/bg.png);
}
#panelFrame {
  position: absolute;
  left: 30px;
  top: 8px;
  width: 119px;
  height: 92px;
  background-image: url(/image/panel/frame.png);
}
#panel {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 106px;
  height: 79px;
  overflow: hidden;
}
#panelView {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: transparent url(/image/panel/view.png);
  z-index: 1000;
  cursor: url(/image/cursor/hand.gif), url(/image/cursor/hand.cur), move;
  overflow: hidden;
}
#panelViewMoving {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 1000;
  cursor: url(/image/cursor/hand.gif), url(/image/cursor/hand.cur), move;
}
.panelView .border {
  position: absolute;
  background-image: url(/image/panel/viewborder.png);
  overflow: hidden;
}
.panelView .vBorder {
  top: 0;
  width: 1px;
  height: 100%;
}
.panelView .hBorder {
  left: 0;
  width: 100%;
  height: 1px;
}
.panelView .leftBorder {
  left: 0;
}
.panelView .rightBorder {
  right: 0;
}
.panelView .topBorder {
  top: 0;
}
.panelView .bottomBorder {
  bottom: 0;
}
#panel .panelEntry {
  position: absolute;
  overflow: hidden;
}
#panelCalendar {
  position: absolute;
  left: 155px;
  top: 8px;
  width: 140px;
  height: 92px;
}
#panelCalendar .title {
  font-size: 11px;
  text-align: right;
  white-space: nowrap;
}
#panelCalendar .nav {
  position: relative;
  top: 5px;
  float: left;
  font-size: 11px;
}
#panelCalendar .nav span {
  cursor: pointer;
}
#panelCalendar .nav img {
  width: 20px;
  height: 7px;
}
#panelCalendar table {
  table-layout: fixed;
  width: 140px;
  height: 70px;
  border-collapse: collapse;
}
#panelCalendar td.day div {
  padding-top: 4px;
  width: 17px;
  height: 13px;
}
#panelCalendar td.day {
  text-align: center;
  font-size: 11px;
  line-height: 1em;
  cursor: default;
}
#panelCalendar td.thisMonth {
  background-image: url(/image/panel/calendar/thismonth.png);
  background-repeat: repeat-x;
  background-position: center center;
}
#panelCalendar td.today {
  color: white;
}
#panelCalendar td.sunday,
#panelCalendar td.holiday {
  color: red;
}
#panelCalendar td.saturday {
  color: blue;
}
#panelCalendar td.today div {
  background-image: url(/image/panel/calendar/today.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#panelCalendar .due {
  cursor: pointer;
  background-image: url(/image/panel/calendar/due.png)!important;
  background-repeat: no-repeat;
  background-position: center center;
}
#panelCalendar .overdue {
  cursor: pointer;
  background-image: url(/image/panel/calendar/overdue.png)!important;
  background-repeat: no-repeat;
  background-position: center center;
}
#panelCalendar .todaydue {
  cursor: pointer;
  background-image: url(/image/panel/calendar/todaydue.png)!important;
  background-repeat: no-repeat;
  background-position: center center;
}
#dialogs {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 16001;
}
#dialogs .top {
  height: 0;
  overflow: hidden;
}
#dialogs .bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
#dialogs .description {
  color: gray;
}
#dialogs .message {
  font-size: 80%;
  color: #c00;
}
#dialogShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 16000;
  background-image: url(/image/dialogshadow.png);
}
#newEntryDialog,
#editEntryDialog {
  position: absolute;
  width: 300px;
  height: 375px;
  cursor: auto;
}
#newEntryDialog .toggleSend {
  cursor: pointer;
}
#newEntryDialog .toggleSend * {
  vertical-align: middle;
}
#newEntryDialog .toggleSendIcon {
  margin-right: 3px;
}
#newEntryDialog .recipients * {
  vertical-align: middle;
}
#newEntryDialog .dropdown {
  margin-left: 3px;
  cursor: pointer;
}
#newEntryDialog input[name='recipients'] {
  width: 20em;
}
*html #newEntryDialog input.ie6Recipients {
  width: 20em;
}
#imageEntryDialog,
#movieEntryDialog,
#attachmentEntryDialog {
  position: absolute;
  cursor: auto;
}
#imageEntryDialog .entryImage {
  margin: 4px 4px 3px 2px;
  width: 300px;
  height: 200px;
  background: transparent no-repeat center top;
}
#imageEntryDialog .entryImageLoad {
  width: 100%;
  height: 100%;
  background: url(/image/dialog/load.gif) no-repeat center center;
}
#attachmentEntryDialog .entryAttachmentLoad {
  background: no-repeat center center;
}
#imageEntryDialog textarea.entryComment,
#attachmentEntryDialog textarea.entryComment {
  width: 250px;
  height: 80px;
}
#imageEntryDialog input[name='entryTags'],
#attachmentEntryDialog input[name='entryTags'] {
  width: 250px;
}
*html #imageEntryDialog input.ie6EntryTags,
*html #attachmentEntryDialog input.ie6EntryTags {
  width: 250px;
}
#movieEntryDialog {
  color: white;
}
#movieEntryDialog .movieDescription {
  padding-top: 5px;
  font-size: 90%;
}
#movieEntryDialog .movieIcon {
  float: left;
  padding: 5px 10px 5px 5px;
  width: 42px;
  height: 42px;
}
#movieEntryDialog .movieDescription ul {
  margin: 0;
  padding-left: 1em;
}
#movieEntryDialog .movieDescription li {
  list-style-type: none;
}
#movieEntryDialog .movieDescription a {
  color: white;
  text-decoration: none;
}
#movieEntryDialog .movieDescription li * {
  vertical-align: middle;
}
#movieEntryDialog .movieDescription li img {
  margin-right: 4px;
}
#movieEntryDialog .movieDescription .movieExample {
  clear: both;
  margin-left: 47px;
}
#movieEntryDialog .movieUrl {
  font-size: 80%;
}
#movieEntryDialog input[name='entryMovieUrl'] {
  width: 20em;
}
*html #movieEntryDialog input.ie6EntryMovieUrl {
  width: 20em;
}
#sendEntryDialog {
  position: absolute;
  width: 300px;
  height: 375px;
  cursor: auto;
}
#sendEntryDialog .sendEntry {
  position: relative;
}
#sendEntryDialog .property {
  font-size: 80%;
}
#sendEntryDialog .property .label {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
#sendEntryDialog .recipients * {
  vertical-align: middle;
}
#sendEntryDialog .dropdown {
  margin-left: 3px;
  cursor: pointer;
}
#sendEntryDialog input[name='recipients'] {
  width: 20em;
}
*html #sendEntryDialog input.ie6Recipients {
  width: 20em;
}
#popupBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 17000;
  background-image: url(/image/transparentbg.png);
}
#popupBg .popup {
  position: absolute;
}
#dueCalendar .miniCalendarFooter {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
}
#dueCalendar .miniCalendarFooter .none {
  cursor: pointer;
  padding: 0 3px 0 3px;
}
#dueCalendar .miniCalendarFooter .none.selected {
  background-image: url(/image/minicalendar/hilight.png);
}
#userList {
  padding: 0 7px 10px 7px;
  width: 160px;
  color: white;
}
*html #userList {
  padding: 0 9px 12px 9px;
}
#userList .usersScroll {
  width: 160px;
  overflow: auto;
  max-height: 300px;
}
#userList .users {
  width: 140px;
  overflow: hidden;
}
#userList .user {
  white-space: nowrap;
  cursor: pointer;
  padding: 3px 3px 3px 3px;
  height: 32px;
  overflow: hidden;
}
#userList .user:hover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
*html #userList .userHover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
#userList .user * {
  vertical-align: middle;
}
#userList .user .icon {
  width: 32px;
  height: 32px;
  behavior: expression(IEPNGFIX.fix(this));
}
#userList .otherUsers {
  width: 134px;
  padding: 6px 3px 6px 3px;
  cursor: pointer;
}
#userList .otherUsers:hover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
*html #userList .otherUsersHover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
#canvasList {
  padding: 0 7px 10px 7px;
  width: 160px;
  color: white;
}
*html #canvasList {
  padding: 0 9px 12px 9px;
}
#canvasList .canvasesScroll {
  width: 160px;
  overflow: auto;
  max-height: 300px;
}
#canvasList .canvases {
  width: 140px;
  overflow: hidden;
}
#canvasList .canvas {
  white-space: nowrap;
  cursor: pointer;
  padding: 3px 6px 3px 6px;
  overflow: hidden;
}
#canvasList .canvas:hover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
*html #canvasList .canvasHover {
  background-image: url(/image/menu/hilight.png);
  color: #1349A0;
}
#canvasList .canvas .owner,
#canvasList .canvas .group {
  font-size: 80%;
  color: #ccc;
}
#iconList {
  padding: 2px 7px 7px 7px;
}
#iconList .icon {
  width: 24px;
  height: 24px;
  background-image: url(/image/icon/selector.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
#iconList .iconNoneRow {
  border-top: 1px solid lightgray;
  text-align: right;
}
#iconList .iconNone {
  cursor: pointer;
  padding: 0 3px 0 3px;
}
#iconList .iconNone:hover,
#iconList .iconNoneHover {
  color: white;
  background-image: url(/image/icon/hilight.png);
}
#iconList .iconListBgLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgleft.png);
}
#iconList .iconListBgTop {
  position: absolute;
  left: 7px;
  top: 0;
  z-index: -1;
}
#iconList .iconListBgRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgright.png);
}
#iconList .iconListBgBody {
  position: absolute;
  left: 7px;
  bottom: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgbody.png);
}
#iconList .iconListBgLeftBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgleftbottom.png);
}
#iconList .iconListBgBottom {
  position: absolute;
  left: 7px;
  bottom: 0;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgbottom.png);
}
#iconList .iconListBgRightBottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  z-index: -1;
  background-image: url(/image/minicalendar/bgrightbottom.png);
}
#searchResult {
  position: absolute;
  left: 0;
  top: 0;
  width: 10000px;
  height: 10000px;
  z-index: 16000;
  background-image: url(/image/dialogshadow.png);
}
#searchResult .entry,
#searchResult .entry span {
  cursor: pointer;
}
#ad {
  position: absolute;
  left: 0;
  top: 0;
  width: 248px;
  height: 68px;
  z-index: 999;
  cursor: auto;
}
#ad .bg {
  z-index: 999;
}
#ad .bgCenter {
  width: 234px;
  height: 60px;
}
#ad .bgRight,
#ad .bgLeft {
  height: 52px;
}
#ad .bgBottom {
  width: 234px;
}
#social {
  background: url(/image/social/tab.png) no-repeat;
  position: absolute;
  top: 52px;
  right: 0;
  width: 26px;
  height: 132px;
  z-index: 11100;
}
#social .container {
  background: url(/image/social/body.png) repeat-x;
  margin: 0 0 0 26px;
  padding: 8px 4px;
  height: 132px;
}
#social .container .item {
  margin: 4px 0;
}
.entryDialog .property {
  font-size: 80%;
  padding: 0 10px 0;
}
.entryDialog .property .label {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.entryDialog textarea.entryContent {
  position: absolute;
}
.entryDialog textarea,
.entryDialog input[type='text'] {
  border: solid 1px gray;
}
.entryDialog .tags .tag {
  cursor: pointer;
  color: purple;
}
.entryDialog .color {
  cursor: pointer;
  width: 23px;
  height: 20px;
  background-image: url(/image/entry/selector.png);
}
.entryDialog .fontSizeSelector {
  float: left;
  width: 80px;
  margin-right: 4px;
}
.entryDialog .fontColorSelector {
  float: left;
  width: 160px;
}
.entryDialog .fontSize,
.entryDialog .fontColor {
  float: left;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.entryDialog .fontSize {
  background-image: url(/image/dialog/fontsize.png);
  background-repeat: no-repeat;
}
.entryDialog .fontColor {
  background-image: url(/image/dialog/fontcolor.png);
  background-repeat: no-repeat;
}
.entryDialog .iconSelector {
  cursor: pointer;
}
.entryDialog .iconSelector .icon {
  float: left;
  width: 24px;
  height: 24px;
}
.entryDialog .iconSelector .none {
  float: left;
  height: 24px;
}
.entryDialog .iconSelector .none * {
  line-height: 24px;
  vertical-align: middle;
}
.entryDialog .iconSelector .select {
  float: left;
  width: 23px;
  height: 24px;
  background: url(/image/dialog/dropdown.png) center center no-repeat;
  margin-left: 4px;
}
.entryDialog .dueSelector {
  cursor: pointer;
}
.entryDialog .dueSelector .due {
  float: left;
}
.entryDialog .dueSelector .select {
  float: left;
  width: 20px;
  height: 16px;
  background: url(/image/due.png) center center no-repeat;
  margin-left: 4px;
}