/*CUSTOM MAIN CONTAINER*/
.main-section {
	margin-top: 0;
	padding-top: 5px;
	margin-bottom: 60px;
}

.header
	margin: 0;
	padding: .6rem .5rem .4rem .5rem;
	font-size: 1.2rem;

/*CUSTOM FOOTER*/
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999999;
}

.collection-item p {
	padding: 5px;
}
.language-footer{
	text-align: right;
}

footer.page-footer {
	margin-top: 0;
	padding-top: 0;
}

/*CUSTOM LAYOUT*/
.layout-list-panel{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100px;
}
.layout-list-panel ul{
	list-style-type: none;
}
.layout-list-panel li{
	font-size: 0.8em;
	margin-left: -40px;
}

.collection .collection-item.avatar .rect {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
}

.progress
	z-index: 16000008;
	display: none;
	position: fixed;
	bottom: 10px;
	width: 100%;

#logo-container
	textshadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: bolder

.section:not(.main-section)
	margin-left: 15px;
	margin-right: 15px;

.btn.btn-small
	height: 30px;
	line-height: 30px;
	outline: 0;
	padding: 0 1rem;
	text-transform: capitalize;

.btn-flat.btn:hover
	background: none;
	color: #2bbbad;
	box-shadow: none;
	-webkit-box-shadow: none;

.input-custom
	input,select,textarea
		display: inline-block;
		margin-top: 10px;
	select[size]
		height: auto;
	textarea
		height: auto;
	input
		padding: 5px;
		border: 1px solid #9e9e9e;
		outline: none;
		height: auto;
		width: 95%;
		font-size: initial;

#toast-container {
	display: none !important;
}

.fixed-action-btn ul {
	left: 300px;
}

.card-content {
  padding: 10px;
}