@import "variables.styl"
@import "custom.styl"
@import "jquery.contextMenu.styl";
@import "board-icons.styl";
@import "board.styl";

body
  padding 0
  margin 0
  height: 100%;
  background-color background-primary

.chat-box
  ul
    list-style none
    padding 10px
    background: background-secondary;
    margin-top 20px
    li
      padding 5px
      border-bottom 1px solid border-color;
      strong
        color red

.sign-in
  margin-top: 50px;

.progress
  z-index: 16000008;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;

.content
  width: 100%;
  display: inline-block;

.preview-container
  display: block
  margin-top: 10px;
  height: 13em;
  width: 100%;
  
.filelist a
  td:nth-child(1)
    width: 100px;
    border: 1px solid #d2d2d2;


.bordered
  border: 1px solid #d2d2d2;

.m-top-10
  margin-top: 10px;

.m-top-20
  margin-top: 20px;

.m-top-30
  margin-top: 30px;

.m-bot-10
  margin-bottom: 10px;

.m-bot-20
  margin-bottom: 20px;

.m-bot-30
  margin-bottom: 30px;

.pattern
  background-size: initial;
  background-repeat: repeat;

.contain
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

.wellcome-title
  margin-left: 20px;

.sticky-creator
  display: none;
  background-color: #fff;
  padding: 20px;
  position: fixed;
  width: 400px;
  min-height: 300px;
  top: 80px;
  left: 50%;
  margin-left: -200px;
  z-index: 99999999999999
