/** You should put all the color variable and Mixin here */
vendors = webkit moz o ms official

background-primary = #fff
background-secondary = #ddd
canvas-container-background = #00badd;

header-background = rgba(52, 73, 94, .9)
footer-background = rgba(52, 73, 94, .9)
footer-border = #000000

border-color = #00b1dd
toolbox-icon-color = #1abc9c;

/** MIXIN */

border-radius()
  for vendor in vendors
    if vendor == official
      border-radius: arguments
    else
      -{vendor}-border-radius: arguments

border-bottom-solid-1()
  border-bottom: solid 1px @border-color

border-top-solid-1()
  border-top: solid 1px @border-color

border-left-solid-1()
  border-left: solid 1px @border-color

border-right-solid-1() {
  border-right: solid 1px @border-color;
}

border-solid-1()
  border: solid 1px @border-color

/* vertical align element (PS : parent must be relative) */
vertical-align()
  position: absolute
  top: 50%
  for vendor in vendors
    if vendor == official
      transform: translateY(-50%)
    else
      -{vendor}-transform: translateY(-50%)

translateXs()
  for vendor in vendors
    if vendor == official
      transform: translateX(-50%)
    else
      -{vendor}-transform: translateX(-50%)

transition()
  for vendor in vendors
    if vendor == official
      transition: arguments
    else
      -{vendor}-transition: arguments

transition2()
  for vendor in vendors
    if vendor == official
      transition: arguments
    else
      -{vendor}-transition: '-%s-%s' % (vendor arguments)

box-shadow()
  for vendor in vendors
    if vendor == official
      box-shadow: arguments
    else
      -{vendor}-box-shadow: arguments

transform()
  for vendor in vendors
    if vendor == official
      transform: arguments
    else
      -{vendor}-transform: arguments

animation()
  for vendor in vendors
    if vendor == official
      animation: arguments
    else
      -{vendor}-animation: arguments

animation-fill-mode()
  for vendor in vendors
    if vendor == official
      animation-fill-mode: arguments
    else
      -{vendor}-animation-fill-mode: arguments

animation-delay()
  for vendor in vendors
    if vendor == official
      animation-delay: arguments
    else
      -{vendor}-animation-delay: arguments

textshadow()
  for vendor in vendors
    if vendor == official
      text-shadow: arguments
    else
      -{vendor}-text-shadow: arguments
