{{#if pageBreadcrumbs}}
    <div class="breadcrumbs">
        <div class="container">
            {{#if pageBreadcrumbs.title}}
                <h1 class="pull-left">
                    {{#if pageBreadcrumbs.title.needI18N}}
                        {{__c .. pageBreadcrumbs.title.label}}
                    {{else}}
                        {{pageBreadcrumbs.title.label}}
                    {{/if}}
                </h1>
            {{/if}}

            {{#if pageBreadcrumbs.breadcrumbs}}
                <ul class="pull-right breadcrumb">
                    {{#each pageBreadcrumbs.breadcrumbs}}
                        {{#if @last}}
                            <li class="active">
                                {{~#if needI18N~}}
                                    {{~__c ../../.. label~}}
                                    {{~else~}}
                                    {{~label~}}
                                {{~/if~}}
                            </li>
                        {{else}}
                            <li>
                                <a href="{{url}}">
                                    {{~#if needI18N~}}
                                        {{~__c ../../.. label~}}
                                        {{~else~}}
                                        {{~label~}}
                                    {{~/if~}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
{{/if}}