<div class="chat-box">
    <h1>Just A test Chat</h1>
    <label>Username : <input type="text" id="message-user" /></label>
    <label>Message : <input type="text" id="message-input" /></label>

    <ul id="message-list">
    </ul>
</div>