<footer class="page-footer blue lighten-1">
  <div class="footer-copyright">
    <div class="container">
		{{formatDate date 'yearOnly'}} {{{__ 'footer.copyright'}}}
      	<span class="right language-footer">
			{{{__ 'footer.languageLabel'}}} :
		  <a class="white-text" href="/?setLocale=id">{{{__ 'footer.language.id'}}}</a> -
		  <a class="white-text" href="/?setLocale=en">{{{__ 'footer.language.en'}}}</a> -
		  <a class="white-text" href="/?setLocale=jp">{{{__ 'footer.language.jp'}}}</a>
		</span>
    </div>
  </div>
</footer>