<div class="container">
    {{#each responseMessages}}
        <div class="row">
            <div class="col-xs-12">
                {{this}}
            </div>
        </div>
    {{/each}}
    <form class="form" role="form" method="POST">
        <div class="form-group">
            <select name="user">
                <option value="0" selected>Select User</option>
                {{#each users}}
                    <option value="{{this.id}}">{{this.username}} ({{this.name}})</option>
                {{/each}}
            </select>
            <select name="group">
                <option value="0" selected>Select Group</option>
                {{#each groups}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-info" type="submit">
                Assign
            </button>
        </div>
    </form>
</div>
