{{#each responseMessages}}
    {{ this }}
{{/each}}
<form class="form" role="form" method="POST">
  <div class="section">
    <ul class="collapsible popout" data-collapsible="accordion">
        {{#each groups}}
          <li>
            <div class="collapsible-header">
              <input class="group-checkbox" type="checkbox" name="groups" value="{{ this._id }}" {{#ifIn this._id ../room.groups}}checked{{/ifIn}}>
              Group: {{ this.name }}
            </div>
            <div class="collapsible-body">
              <ul class="collection">
                  {{#each users}}
                    <li class="collection-item">
                        <input class="user-checkbox" type="checkbox" name="users" value="{{ this._id }}" {{#ifIn this._id ../../room.users}}checked{{/ifIn}}>
                        <span class="title">{{ this.name.first}} {{this.name.last}}</span>
                        <p>{{ this.username }}</p>
                    </li>
                  {{/each}}
              </ul>
            </div>
          </li>
        {{/each}}
    </ul>
  </div>
  <div class="section">
    <button type="submit" class="btn waves-effect waves-light right">
        {{ __ 'userGroup.button.submit' }}
    </button>
  </div>
</form>
