<h1>
                  {{#is status 500}}
                    {{ __ 'error500' }}
                  {{ else }}
                    {{ __ 'error404' }}
                  {{/is}}
                </h1>
                <h4>
                  {{ __ 'error.goBack' }}
                    <a href="/">{{ __ 'error.mainPage'}}</a>
                </h4>



<p class="p">
  {{#if errorMessage}}
    {{ errorMessage}}
  {{/if}}
</p>
