<div class="row">
    {{#each responseMessages}}
            <div class="col s12">
                {{ this.message }}
            </div>
    {{/each}}
    <form role="form" id="aws-group-create-form" class="col s12" method="POST">
            <div class="col s12 input-field">
                <label class="validate" for="name">{{ __ 'awsUser.label.name' }}</label>
                <input type="text" name="name" id="name">
            </div>

            <div class="col s12 input-field">
                <label class="validate" for="username">{{ __ 'awsUser.label.username' }}</label>
                <input type="text" name="username" id="username">
            </div>

            <div class="col s12 input-field">
                <label class="validate" for="password">{{ __ 'awsUser.label.password' }}</label>
                <input type="password" name="password" id="name">
            </div>

            <div class="col s12 input-field">
                <select name="group" class="browser-default">
                    <option value="0" selected>Choose group</option>
                    {{#each groups}}
                        <option value="{{this._id}}">{{ this.name }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col s12 input-field">
                <select name="role" class="browser-default">
                    <option value="0" selected>Choose label</option>
                    {{#each roles}}
                        <option value="{{this.value}}">{{ this.label }}</option>
                    {{/each}}
                </select>
            </div>


            <div class="col s12 input-field">
                <select name="level" class="browser-default">
                    <option value="0" selected>Choose level</option>
                    {{#each levels}}
                        <option value="{{this.value}}">{{ this.label }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="col s12 input-field">
                <select name="language" class="browser-default">
                    <option value="0" selected>Choose language</option>
                    {{#each languages}}
                        <option value="{{this.value}}">{{ this.label }}</option>
                    {{/each}}
                </select>
            </div>

        <div class="col s12 input-field">
            <button type="submit" class="btn btn-info">{{ __ 'awsUser.button.submit' }}</button>
        </div>
    </form>
</div>
