<div class="row">
    <div class="s12">
      <a href="/users/create" class="btn waves-effect waves-light">Create</a>
    </div>
</div>
{{#each users}}
  <div class="card">
    <div class="card-content">
      <span class="card-title blue-text">{{name}}</span>
      <p>Username: {{username}}</p>
      <p>Create Date: {{formatDate date 'dateWithTime'}}</p>
    </div>
  </div>
{{/each}}
