<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper">
    <!-- Brand and toggle get grouped for better mobile display -->
      {{#if AwsUser}}
          {{#if showToolbar}}
            <a id="logo-container" class="brand-logo truncate center" href="#">{{memo.name}}</a>

            <ul id="nav-mobile" class="side-nav">
              <li><a id="load-but" class="waves-effect"><i class="mdi-file-folder-open left"></i> Open File</a></li>
              <!--<a title="Save As File" id="save-but" class="ico-disk"></a>
              <a title="Delete File" onclick="Board.deleteSession()" class="ico-deletefile"></a>
              <a title="Print Page" class="ico-print"></a>-->
              <li><a id="prop-but" class="waves-effect"><i class="mdi-action-settings left"></i> Property</a></li>
              <li><a onclick="Board.createPreview()" class="waves-effect"><i class="mdi-hardware-laptop left"></i> Preview Mode</a></li>
              <li><div class="divider"></div></li>
              <li><a href="/" class="waves-effect"><i class="mdi-action-view-list left"></i>{{__ 'layout.filesLabel'}}</a></li>
                {{#if canAccessManagement}}<li><a href="/usermanagement"><i class="mdi-social-group-add left"></i>{{__ 'layout.userManagementLabel'}}</a></li>{{/if}}
              <li><a href="/logout" class="waves-effect"><i class="mdi-action-settings-power left"></i>{{__ 'layout.logoutLabel'}}</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></a>

            <div class="menubox left hide-on-med-and-down">
              <a title="Open File" id="load-but" class="ico-folder-open-alt waves-effect"></a>
              <!--<a title="Save As File" id="save-but" class="ico-disk"></a>
              <a title="Delete File" onclick="Board.deleteSession()" class="ico-deletefile"></a>
              <a title="Print Page" class="ico-print"></a>-->
              <a title="Property" id="prop-but" class="ico-cog waves-effect"></a>
              <a class="ico-presentation waves-effect" title="Toggle Preview Mode" onclick="Board.createPreview()"></a>
            </div>

            <ul class="right hide-on-med-and-down">
              <li><a href="/" class="waves-effect">{{__ 'layout.filesLabel'}}</a></li>
                {{#if canAccessManagement}}<li><a href="/usermanagement" class="waves-effect">{{__ 'layout.userManagementLabel'}}</a></li>{{/if}}
              <li><a href="/logout" class="waves-effect">{{__ 'layout.logoutLabel'}}</a></li>
            </ul>
          {{else}}
              {{#if showPresentationNavbar}}
                  {{> navigation/presentationNavbar}}
              {{else}}
                <a id="logo-container" class="brand-logo truncate center hide-on-small-and-down" href="#">{{{__ 'header.label'}}}</a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="/" class="waves-effect">{{__ 'layout.filesLabel'}}</a></li>
                  {{#if canAccessManagement}}<li><a href="/usermanagement" class="waves-effect">{{__ 'layout.userManagementLabel'}}</a></li>{{/if}}
                  <li><a href="/logout" class="waves-effect">{{__ 'layout.logoutLabel'}}</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                  <li><a href="/" class="waves-effect"><i class="mdi-action-view-list left"></i>{{__ 'layout.filesLabel'}}</a></li>
                  {{#if canAccessManagement}}<li><a href="/usermanagement" class="waves-effect"><i class="mdi-social-group-add left"></i>{{__ 'layout.userManagementLabel'}}</a></li>{{/if}}
                  <li><a href="/logout" class="waves-effect"><i class="mdi-action-settings-power left"></i>{{__ 'layout.logoutLabel'}}</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></a>

                {{#if showWellcome}}
                  <span class="left wellcome-title">{{wellcome AwsUser.name AwsUser.group.name}}</span>
                {{/if}}
              {{/if}}
          {{/if}}
      {{else}}
        <a id="logo-container" class="brand-logo truncate center" href="#">{{{__ 'header.label'}}}</a>
      {{/if}}
  </div>
</nav>
