<div class="row margin-top-30">
    {{#each responseMessages}}
        <div class="row">
            <div class="col s12">
                {{ this.message }}
            </div>
        </div>
    {{/each}}
    <form role="form" id="aws-group-create-form" class="form" method="POST">
        <div class="col s12 input-field">
            <label for="name">{{ __ 'awsGroup.label.name' }}</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>

        <div class="col s12 input-field">
            <button type="submit" class="btn btn-info">{{ __ 'awsGroup.button.create' }}</button>
        </div>
    </form>
</div>
