<div class="row">
    <div class="s12">
      <a href="/groups/create" class="btn waves-effect waves-light">Create</a>
    </div>
</div>

{{#each groups}}
  <div class="card">
    <div class="card-content">
      <span class="card-title blue-text">{{name}}</span>
      <p>Create Date: {{formatDate date 'dateWithTime'}}</p>
      <p>Users</p>
      <ul>
        {{#each users}}
            <li class="collection-item">{{ this.name }} ({{ this.username }})</li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/each}}
