<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

<div class="vn-nav">
    <div id="openModal" class="modalDialog">
        <div>
            <p>Uploadding ...</p>
        </div>
    </div>
</div>